---- FUNÇÃO NOVA

USE [DRVAREJO]
GO
/****** Object:  UserDefinedFunction [dbo].[QTDE_BI_HORARIA]    Script Date: 10/21/2014 16:58:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[QTDE_BI_HORARIA] (@RECURSO_PRODUTIVO varchar(MAX),@START varchar(17),@END varchar(17))          
RETURNS int          
WITH EXECUTE AS CALLER          
AS          
BEGIN          
     DECLARE @Retorno int          
    
     SET @Retorno =  
        (
        	SELECT 
			QTDE_O =SUM(PRODUCAO_OS_TAREFAS.QTDE_O) 
			FROM PRODUCAO_ORDEM_SERVICO WITH (NOLOCK)
			JOIN PRODUCAO_OS_TAREFAS WITH (NOLOCK) ON PRODUCAO_OS_TAREFAS.ORDEM_SERVICO=PRODUCAO_ORDEM_SERVICO.ORDEM_SERVICO

			JOIN (
			 
			SELECT PRODUTOS.PRODUTO,PRODUCAO_TAREFAS.ORDEM_PRODUCAO,PRODUCAO_TAREFAS.RECURSO_PRODUTIVO,PRODUCAO_RECURSOS.DESC_RECURSO,PRODUCAO_SETOR.DESC_SETOR_PRODUCAO
			FROM dbo.PRODUCAO_FASE PRODUCAO_FASE with (nolock), dbo.PRODUCAO_RECURSOS PRODUCAO_RECURSOS with (nolock), dbo.PRODUCAO_SETOR PRODUCAO_SETOR with (nolock), dbo.PRODUCAO_TAREFAS PRODUCAO_TAREFAS with (nolock), dbo.PRODUTOS PRODUTOS with (nolock), dbo.PRODUCAO_ORDEM with (nolock)
			WHERE PRODUCAO_FASE.FASE_PRODUCAO = PRODUCAO_TAREFAS.FASE_PRODUCAO AND 
			PRODUCAO_FASE.FASE_PRODUCAO = PRODUCAO_SETOR.FASE_PRODUCAO AND 
			PRODUCAO_RECURSOS.RECURSO_PRODUTIVO = PRODUCAO_TAREFAS.RECURSO_PRODUTIVO AND 
			PRODUCAO_SETOR.SETOR_PRODUCAO = PRODUCAO_TAREFAS.SETOR_PRODUCAO AND 
			PRODUCAO_SETOR.FASE_PRODUCAO = PRODUCAO_TAREFAS.FASE_PRODUCAO AND 
			PRODUCAO_ORDEM.PRODUTO=PRODUTOS.PRODUTO AND
			PRODUCAO_ORDEM.ORDEM_PRODUCAO=PRODUCAO_TAREFAS.ORDEM_PRODUCAO AND
			PRODUCAO_FASE.FASE_PRODUCAO='007'

			) AS COSTURA
			ON PRODUCAO_OS_TAREFAS.PRODUTO=COSTURA.PRODUTO AND PRODUCAO_OS_TAREFAS.ORDEM_PRODUCAO=COSTURA.ORDEM_PRODUCAO

			JOIN PRODUCAO_ORDEM_SERVICO_HORARIA WITH (NOLOCK) ON PRODUCAO_ORDEM_SERVICO_HORARIA.ORDEM_SERVICO = PRODUCAO_ORDEM_SERVICO.ORDEM_SERVICO

			WHERE PRODUCAO_ORDEM_SERVICO.FASE_PRODUCAO='009' AND 
			PRODUCAO_ORDEM_SERVICO.INDICADOR_TIPO_MOV=1 AND 
			PRODUCAO_ORDEM_SERVICO.ORDEM_SERVICO=PRODUCAO_OS_TAREFAS.ORDEM_SERVICO AND
			COSTURA.RECURSO_PRODUTIVO = RTRIM(@RECURSO_PRODUTIVO) AND 
			SUBSTRING(CONVERT(VARCHAR(40),PRODUCAO_ORDEM_SERVICO_HORARIA.DATA_HORA,21),1,16) BETWEEN LTRIM(RTRIM(@START)) AND LTRIM(RTRIM(@END)) 

			GROUP BY CONVERT(VARCHAR(10),PRODUCAO_ORDEM_SERVICO_HORARIA.DATA_HORA,21)
			)
			  
     RETURN(@Retorno)          
END;           

