---- FUNÇÃO ANTIGA

USE [DRVAREJO]
GO
/****** Object:  UserDefinedFunction [dbo].[QTDE_BI_HORARIA]    Script Date: 10/21/2014 16:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[QTDE_BI_HORARIA] (@RECURSO_PRODUTIVO varchar(MAX),@START varchar(17),@END varchar(17))        
RETURNS int        
WITH EXECUTE AS CALLER        
AS        
BEGIN        
     DECLARE @Retorno int        
  
     SET @Retorno =   
        (SELECT SUM(QTDE_A)  
   FROM DBO.PRODUCAO_OS_ANTERIOR PRODUCAO_OS_ANTERIOR WITH (NOLOCK),    
      DBO.PRODUCAO_TAREFAS PRODUCAO_TAREFAS WITH (NOLOCK),    
         DBO.PRODUCAO_RECURSOS PRODUCAO_RECURSOS WITH (NOLOCK),    
   DBO.PRODUCAO_FASE PRODUCAO_FASE WITH (NOLOCK),   
   DBO.PRODUCAO_SETOR PRODUCAO_SETOR WITH (NOLOCK),    
   DBO.W_PRODUTOS_CORES W_PRODUTOS_CORES WITH (NOLOCK),  
   DBO.PRODUCAO_ORDEM_SERVICO  PRODUCAO_ORDEM_SERVICO WITH (NOLOCK),  
   DBO.PRODUCAO_ORDEM_SERVICO_HORARIA  PRODUCAO_ORDEM_SERVICO_HORARIA WITH (NOLOCK)  
   WHERE PRODUCAO_RECURSOS.RECURSO_PRODUTIVO = PRODUCAO_TAREFAS.RECURSO_PRODUTIVO     
   AND PRODUCAO_TAREFAS.FASE_PRODUCAO = PRODUCAO_SETOR.FASE_PRODUCAO     
   AND PRODUCAO_TAREFAS.SETOR_PRODUCAO = PRODUCAO_SETOR.SETOR_PRODUCAO     
   AND PRODUCAO_TAREFAS.FASE_PRODUCAO = PRODUCAO_FASE.FASE_PRODUCAO     
   AND PRODUCAO_OS_ANTERIOR.PRODUTO = W_PRODUTOS_CORES.PRODUTO     
   AND W_PRODUTOS_CORES.COR_PRODUTO = PRODUCAO_OS_ANTERIOR.COR_ANTERIOR     
   AND PRODUCAO_OS_ANTERIOR.TAREFA_ANTERIOR = PRODUCAO_TAREFAS.TAREFA    
   AND PRODUCAO_ORDEM_SERVICO.ORDEM_SERVICO = PRODUCAO_OS_ANTERIOR.ORDEM_SERVICO  
   AND PRODUCAO_ORDEM_SERVICO_HORARIA.ORDEM_SERVICO = PRODUCAO_OS_ANTERIOR.ORDEM_SERVICO  
   AND PRODUCAO_RECURSOS.RECURSO_PRODUTIVO=@RECURSO_PRODUTIVO
   AND SUBSTRING(CONVERT(VARCHAR(40),DATA_HORA,21),1,16)   
   BETWEEN @START AND @END  
   AND INDICADOR_TIPO_MOV=1  
   GROUP BY CONVERT(VARCHAR(10),DATA_HORA,21))        
     RETURN(@Retorno)        
END;         
