CREATE VIEW W_ORDEM_SERVICO_ORDEM_PRODUCAO_ENVIO AS 
SELECT B.FILIAL,B.NF_SAIDA,B.SERIE_NF,A.ORDEM_SERVICO,A.ORDEM_PRODUCAO 
FROM PRODUCAO_OS_TAREFAS A WITH (NOLOCK)
JOIN PRODUCAO_ORDEM_SERVICO B WITH (NOLOCK) ON B.ORDEM_SERVICO=A.ORDEM_SERVICO 
WHERE B.FASE_PRODUCAO in ('006','500') AND B.NF_SAIDA <> '' 


CREATE VIEW W_ORDEM_SERVICO_ORDEM_PRODUCAO_RETORNO AS 
SELECT B.FILIAL,B.NF_SAIDA,B.SERIE_NF,A.ORDEM_SERVICO,A.ORDEM_PRODUCAO 
FROM PRODUCAO_OS_TAREFAS A WITH (NOLOCK)
JOIN PRODUCAO_ORDEM_SERVICO B WITH (NOLOCK) ON B.ORDEM_SERVICO=A.ORDEM_SERVICO 
WHERE B.FASE_PRODUCAO in ('009','700') AND B.NF_SAIDA <> ''

SELECT A.NF_SAIDA,A.SERIE_NF,RTRIM(C.DESCRICAO_ITEM)+' OP:'+RTRIM(A.ORDEM_PRODUCAO)+' NF:'+B.NF_SAIDA,CODIGO_ITEM FROM W_ORDEM_SERVICO_ORDEM_PRODUCAO_RETORNO A
JOIN W_ORDEM_SERVICO_ORDEM_PRODUCAO_ENVIO B ON B.ORDEM_PRODUCAO=A.ORDEM_PRODUCAO
JOIN FATURAMENTO_ITEM C ON C.NF_SAIDA=A.NF_SAIDA AND C.SERIE_NF=A.SERIE_NF AND SUBSTRING(C.CODIGO_ITEM,1,7)=A.ORDEM_SERVICO
WHERE A.NF_SAIDA='005101' 
  AND A.SERIE_NF='104' 
  AND A.ORDEM_SERVICO='0167419'
  AND A.ORDEM_PRODUCAO='185909' 


SELECT * FROM FATURAMENTO_ITEM
WHERE NF_SAIDA='005101' 
  AND SERIE_NF='104' 


