USE [DESENV]
GO
/****** Object:  StoredProcedure [dbo].[LX_RECALCULO_RESERVA_MATERIAIS]    Script Date: 01/15/2013 10:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[LX_RECALCULO_RESERVA_MATERIAIS] @PRODUTO CHAR(12),@MOSTRA CHAR(1) = NULL ,    
@XORDEM_PRODUCAO CHAR(8)=NULL,@XTIPO_PROCESSO TINYINT = NULL AS    
    
-- TIPO_RESERVA = 1  É FICHA TÉCNICA    
-- TIPO_RESERVA = 2  É ORDEM DE PRODUÇÃO(INCLUSAO MANUAL. NÃO DEVE HAVER RECALCULO)    
-- TIPO_RESERVA = 3  É SUBSTITUIÇÃO MANUAL    
-- TIPO_RESERVA = 4  É SUBSTITUIÇÃO AUTOMATICA    
-- TIPO_RESERVA = 5  É INCLUSÃO AUTOMATICA    
-- TIPO_RESERVA = 6  É ALTERAÇÃO AUTOMATICA    
-- TIPO_RESERVA = 7  É EXCLUSÃO AUTOMATICA    
    
-- TIPO_MODIFICACAO = 'I' -  INCLUSÃO    
-- TIPO_MODIFICACAO = 'A' -  ALTERAÇÃO    
-- TIPO_MODIFICACAO = 'E' -  EXCLUSÃO    
-- TIPO_MODIFICACAO = 'S' -  SUBSTITUIÇÃO    


-- ALTERAÇÕES E CORREÇÕES FEITAS NA PROCEDURE.            
--
-- 10/11/2010 - SZALONTAI - ADIÇÃO DO PARÂMETRO @COR_MATERIAL_MODIFICADO NO PROCESSO DE SUBSTITUIÇÃO DE MATERIAL POR PRODUTO.
--                          NÃO ESTAVA ATUALIZANDO O MATERIAL SUBSTITUIDO QUANDO O MESMO JÁ POSSUIA SALDO. TP 1119944.
--
-- 19/01/2010 - Fabiano Banin - Foi colocado um OR na exclusão da reserva para que exclua também os tipos de reservas que vieram da ficha ténica
--                              foi feito isso para atender a TP 872830, onde um material da ficha técnica de um produto era retirado e no seu lugar
--                              entrava um novo material, o novo material entrava na reserva mas o antigo não era retirado.
--
-- 20/05/05 - SZALONTAI - ADIÇÃO DA CONDICAO AND TIPO_RESERVA<>2 NOS UPDATES DO CURSOR TEMPORARIO #CURSOR_RESERVA NO RECALCULO DA RESERVA.
--
-- 30/10/08 - SZALONTAI - ADIÇÃO DO CURSOR TEMPORARIO #CUR_FASES_OP PARA TRAZER SOMENTE OS MATERIAIS QUE ESTIVEREM NA FASE DESTE CURSOR 
--                        QUANDO O TIPO_PROCESSO FOR 1 OU 2.
--                        ESTA VALIDAÇÃO SO E VALIDA NA INCLUSAO DA OP. QUANDO FOR ALTERAÇÃO A VALIDACAO É NA TABELA PRODUCAO_TAREFAS.
--
-- 30/09/08 - SZALONTAI - ADIÇÃO DA CONDICAO AND TIPO_RESERVA<>2 NOS FILTROS DO SELECT DE SUBSTITUICAO DE MATERIAIS POR PRODUTO NO TRATAMENTOS DAS
--						  SUBSTITUIÇÕES MANUAIS
--
-- 06/08/08 - SZALONTAI - ADICAO DO CAMPO TIPO_MODIFICACAO NO SELECT DOS MATERIAIS QUE TIVEREM ALGUM TIPO DE ALTERAÇÃO NO ID_MODIFICAÇÃO PARA PODER ORDENAR POR ELE
--                        POIS QUANDO HAVIA UM ID_MODIFICACAO DO MESMO MATERIAL+COR MAS COM ITEM DIFERENTE E NUM TEM EXCLUSAO E NO OUTRO SUBSTITUICAO, A EXCLUSAO ERA
--						  FEITA POR ULTIMO, MATANDO TUDO. COLOCANDO AGORA COMO PRIMEIRO, FUNCIONA.
-- 26/11/07 - SZALONTAI - ADICAO DA COLUNA PRODUTO NO SELECT QUE TRAZ AS QTDE DOS PRODUTOS DA TABELA DE COMPRAS. 
--						  PODE HAVER MAIS DE UM PRODUTO POR PEDIDO DE COMPRA.
--						  ADICAO DE FILTRO NA HORA DE ATUALIZAR A TABELA PRODUCAO_RESERVA. ESTAVA EXCLUINDO TODOS OS MATERIAIS 
--                        NA RESEVA, MAS DEVERIA EXCLUIR SOMEMTE OS QUE TIVERAM ALTERAÇÃO.
-- 20/07/07 - SZALONTAI - ADICAO DE PROCESSO PARA ATUALIZAR A DA DATA_RESERVA NA TABELA PRODUCAO_RESERVA COM A DATA NAS FASES.
-- 
-- 23/05/07 - SZALONTAI - ADIÇÃO DA CONDICAO "MATERIAIS.RESERVA_MATERIAL_OP = 0" NOS SELECTS ONDE TRAZ OS MATERIAIS
--						  PARA TRAZER SOMENTE OS MATERIAIS QUE PODEM FAZER RESERVA DE MATERIAIS
--
-- 20/04/07 - SZALONTAI - ADIÇÃO DO ITEM DO ID MODIFICAÇÃO NO CALCULO DA RESERVA DE MATERIAIS
--						- ADIÇÃO DE PROCESSO PARA USAR O CURSOR TEMPORARIO #CUR_RESERVA_OP QUE VEM DA OP
--					      ESTE CURSOR É POPULADO COM AS QTDES DA OP QUE AINDA NAO FOI INCLUIDA NO BD
--
-- 27/03/05 - SZALONTAI
-- TROCA DE *= E =* POR LEFT JOIN E RIGHT JOIN
--
-- 15/07/05 - SZALONTAI
-- ADIÇÃO DE SELECTS PARA TRAZER DADOS DOS PEDIDOS DE COMPRA DE PA, POIS ELES TAMBEM USAM A TABELA PRODUCAO_RESERVA
-- 
-- 11/05/05 - SZALONTAI 
-- ADICAO DE UM UPDATE PARA ATUALIZAR O CAMPO TIPO_RESERVA PARA 4 QUANDO HOUVER SUBSTITUICAO DE MATERIAIS QUE JA EXISTAM NA RESERVA
-- POR EXEMPLO, O MESMO MATERIAL É USADO EM DUAS CORES DO MESMO PRODUTO E UMA DAS CORES TIVER ID_MODIFICACAO, NA RESERVA O MATERIAL
-- NAO FICAVA COM O TIPO_RESERVA = 4
--
-- 07/03/05 - SZALONTAI
-- CORREÇÃO NO CALCULO DO CONSUMO DO MATERIAL QUANDO O TIPO_RESERVA = 4 E 
-- QUANDO A UNIDADE DE ESTOQUE E DIFERENTE DA UNIDADE DE FT.
--
-- 04/08/04 - SZALONTAI
-- ADICAO DO COLLATE NO CURSOR TEMPORARIO #CURSOR_RESERVA
--
-- 13/04/04 - SZALONTAI
-- A VARIAVEL @ID_MODIFICACAO ESTAVA COMO INT. FOI ALTERADA PARA CHAR(6)
--
-- 23/01/04 - SZALONTAI    
-- ADIÇÃO DE CALCULO DE CONSUMO DOS MATERIAIS SUBSTITUTOS DA TABELA SUSBTITUICOES_FT_MATERIAL    
    
SET NOCOUNT ON    
    
DECLARE    
@COR_PRODUTO CHAR(10),    
@ORDEM_PRODUCAO CHAR(8),    
@CONSUMIDO NUMERIC(12,5),    
@CONSUMIDO_NEW NUMERIC(12,5),    
@CONSUMIDO_ABS NUMERIC(12,5),    
@CONSUMIDO_ALT NUMERIC(12,5),    
@FATOR_CONVERSAO_NA_RESERVA NUMERIC(12,5),    
@CLIENTE_ATACADO VARCHAR(25),    
@MATERIAL  CHAR(11),    
@COR_MATERIAL CHAR(10),    
@MATERIAL_MODIFICADO  CHAR(11),    
@COR_MATERIAL_MODIFICADO CHAR(10),    
@PORCENTAGEM_CONSUMO NUMERIC(12,5),    
@ALTERACAO_CONSUMO REAL,    
@RESERVA NUMERIC(12,5),    
@RESERVA_REAL NUMERIC(12,5),    
@RESERVA_ORIGINAL NUMERIC(12,5),    
@RESERVA_ORIGINAL_REAL NUMERIC(12,5),    
@PEDIDO CHAR(12),    
@CODIGO_LOCAL_ENTREGA CHAR(5),    
@TIPO_PROCESSO TINYINT,    
@FASE_PRODUCAO VARCHAR(25),    
@SETOR_PRODUCAO VARCHAR(25),    
@ID_MODIFICACAO CHAR(6),    
@XPRI INT,
@ITEM SMALLINT,      
@XPRODUTO CHAR(12),        
@O1  INT, @O2  INT, @O3  INT, @O4  INT, @O5  INT, @O6  INT, @O7  INT, @O8  INT, @O9  INT, @O10 INT, @O11 INT, @O12 INT, @O13 INT, @O14 INT, @O15 INT, @O16 INT,     
@O17 INT, @O18 INT, @O19 INT, @O20 INT, @O21 INT, @O22 INT, @O23 INT, @O24 INT, @O25 INT, @O26 INT, @O27 INT, @O28 INT, @O29 INT, @O30 INT, @O31 INT, @O32 INT,     
@O33 INT, @O34 INT, @O35 INT, @O36 INT, @O37 INT, @O38 INT, @O39 INT, @O40 INT, @O41 INT, @O42 INT, @O43 INT, @O44 INT, @O45 INT, @O46 INT, @O47 INT, @O48 INT,
@TIPO_MODIFICACAO CHAR(1)    
    
CREATE TABLE #CURSOR_RESERVA(
	MATERIAL CHAR(11) COLLATE DATABASE_DEFAULT, 
	COR_MATERIAL CHAR(10) COLLATE DATABASE_DEFAULT,
	ORDEM_PRODUCAO CHAR(8) COLLATE DATABASE_DEFAULT,     
	RESERVA_ORIGINAL NUMERIC(12,5) DEFAULT 0.00000,    
	CONSUMIDA NUMERIC(12,5) DEFAULT 0.00000,RESERVA NUMERIC(12,5) DEFAULT 0.00000,     
	DATA_RESERVA DATETIME, ULTIMA_SAIDA DATETIME ,DIFERENCA_PREVISAO NUMERIC(12,5) DEFAULT 0.00000 ,    
	FATOR_CONVERSAO_NA_RESERVA NUMERIC(12,5), MATAR_SALDO_RESERVA BIT,     
	DESC_COR_MATERIAL VARCHAR(25) COLLATE DATABASE_DEFAULT,
	REFER_FABRICANTE VARCHAR(15) COLLATE DATABASE_DEFAULT,
	FASE_PRODUCAO VARCHAR(25) COLLATE DATABASE_DEFAULT,     
	DESC_FASE_PRODUCAO VARCHAR(40) COLLATE DATABASE_DEFAULT, 
	SETOR_PRODUCAO VARCHAR(25) COLLATE DATABASE_DEFAULT, 
	DESC_SETOR_PRODUCAO VARCHAR(40) COLLATE DATABASE_DEFAULT,    
	DESC_MATERIAL VARCHAR(40) COLLATE DATABASE_DEFAULT, 
	FATOR_CONVERSAO NUMERIC(12,5),UNID_ESTOQUE CHAR(5) COLLATE DATABASE_DEFAULT,
	UNID_FICHA_TEC CHAR(5) COLLATE DATABASE_DEFAULT,    
	RESERVA_MATERIAL_OP BIT,MATERIAL_INDIRETO BIT, ABATER_RESERVA_QTDE BIT,PROXIMA_ENTREGA DATETIME,     
	MATERIAL_MODIFICADO CHAR(11) COLLATE DATABASE_DEFAULT, 
	COR_MATERIAL_MODIFICADO CHAR(10) COLLATE DATABASE_DEFAULT,     
	PRIORIDADE_SUBSTITUICAO INT,ALTERACAO_CONSUMO NUMERIC(12,5),    
	SUBSTITUICAO_POR_PRODUTO BIT,GRUPO VARCHAR(25) COLLATE DATABASE_DEFAULT, 
	SUBGRUPO VARCHAR(25) COLLATE DATABASE_DEFAULT,     
	SUBSTITUICAO_POR_CLIENTE BIT,TIPO_RESERVA INT,CONTROLE INT)    


IF (SELECT OBJECT_ID('TEMPDB..#CUR_RESERVA_OP')) IS NULL 
BEGIN        
	DECLARE CUR_PRODUCAO_ORDEM CURSOR FOR     
	SELECT ORDEM_PRODUCAO,TIPO_PROCESSO FROM PRODUCAO_ORDEM     
	WHERE PRODUTO = @PRODUTO AND STATUS = 'S'     
	AND ORDEM_PRODUCAO LIKE RTRIM(LTRIM(ISNULL(@XORDEM_PRODUCAO,'%')))    
	-- ADICIONADO EM 15/07/05 POR SZALONTAI PARA ATENDER OS PEDIDOS DE COMPRA DE PA
	UNION ALL 
	SELECT DISTINCT A.PEDIDO,0
	FROM COMPRAS_PRODUTO A 
	INNER JOIN PRODUCAO_RESERVA B ON A.PEDIDO = B.ORDEM_PRODUCAO 
	INNER JOIN COMPRAS C ON A.PEDIDO = C.PEDIDO 
	WHERE A.PRODUTO = @PRODUTO AND STATUS_APROVACAO = 'E'       
	-- FIM DA ADIÇÃO
END
ELSE
BEGIN
	DECLARE CUR_PRODUCAO_ORDEM CURSOR FOR     
	SELECT @XORDEM_PRODUCAO,@XTIPO_PROCESSO
END    

OPEN CUR_PRODUCAO_ORDEM    
    
FETCH NEXT FROM CUR_PRODUCAO_ORDEM    
INTO  @ORDEM_PRODUCAO,@TIPO_PROCESSO    
    
WHILE @@FETCH_STATUS = 0 -- CUR_PRODUCAO_ORDEM    
BEGIN    
    
 	/*ADIÇÃO DOS MATERIAIS QUE FORAM COLOCADOS NA MÃO NA OP*/    
 	TRUNCATE TABLE #CURSOR_RESERVA    

	IF (SELECT OBJECT_ID('TEMPDB..#CURSOR_RESERVA_AUX')) IS NULL 
	BEGIN

 		INSERT INTO #CURSOR_RESERVA     
 		EXECUTE('SELECT PRODUCAO_RESERVA.MATERIAL, PRODUCAO_RESERVA.COR_MATERIAL,PRODUCAO_RESERVA.ORDEM_PRODUCAO, PRODUCAO_RESERVA.RESERVA_ORIGINAL,    
    			PRODUCAO_RESERVA.CONSUMIDA,PRODUCAO_RESERVA.RESERVA, PRODUCAO_RESERVA.DATA_RESERVA,    
    			PRODUCAO_RESERVA.ULTIMA_SAIDA,PRODUCAO_RESERVA.DIFERENCA_PREVISAO,    
      			PRODUCAO_RESERVA.FATOR_CONVERSAO_NA_RESERVA, PRODUCAO_RESERVA.MATAR_SALDO_RESERVA,     
				MATERIAIS_CORES.DESC_COR_MATERIAL, MATERIAIS_CORES.REFER_FABRICANTE,MATERIAIS.FASE_PRODUCAO,     
				PRODUCAO_FASE.DESC_FASE_PRODUCAO, MATERIAIS.SETOR_PRODUCAO, PRODUCAO_SETOR.DESC_SETOR_PRODUCAO,    
				MATERIAIS.DESC_MATERIAL, MATERIAIS.FATOR_CONVERSAO,MATERIAIS.UNID_ESTOQUE, MATERIAIS.UNID_FICHA_TEC,    
				MATERIAIS.RESERVA_MATERIAL_OP, MATERIAIS.MATERIAL_INDIRETO, MATERIAIS.ABATER_RESERVA_QTDE,GETDATE() ,     
				PRODUCAO_RESERVA.MATERIAL_SUBSTITUIDO, PRODUCAO_RESERVA.COR_MATERIAL_SUBSTITUIDO,     
				SUBSTITUICOES_MATERIAL.PRIORIDADE_SUBSTITUICAO, SUBSTITUICOES_MATERIAL.ALTERACAO_CONSUMO,    
				SUBSTITUICOES_MATERIAL.SUBSTITUICAO_POR_PRODUTO, MATERIAIS.GRUPO, MATERIAIS.SUBGRUPO,     
				SUBSTITUICOES_MATERIAL.SUBSTITUICAO_POR_CLIENTE,PRODUCAO_RESERVA.TIPO_RESERVA,0    
				FROM PRODUCAO_RESERVA
				INNER JOIN MATERIAIS ON MATERIAIS.MATERIAL = PRODUCAO_RESERVA.MATERIAL     
				INNER JOIN MATERIAIS_CORES ON PRODUCAO_RESERVA.MATERIAL = MATERIAIS_CORES.MATERIAL AND 
											  PRODUCAO_RESERVA.COR_MATERIAL = MATERIAIS_CORES.COR_MATERIAL      
				LEFT JOIN SUBSTITUICOES_MATERIAL ON PRODUCAO_RESERVA.MATERIAL = SUBSTITUICOES_MATERIAL.MATERIAL AND 
													PRODUCAO_RESERVA.COR_MATERIAL = SUBSTITUICOES_MATERIAL.COR_MATERIAL AND 
													PRODUCAO_RESERVA.MATERIAL_SUBSTITUIDO = SUBSTITUICOES_MATERIAL.MATERIAL_SUBSTITUIDO AND 
													PRODUCAO_RESERVA.COR_MATERIAL_SUBSTITUIDO = SUBSTITUICOES_MATERIAL.COR_MATERIAL_SUBSTITUIDO    
				INNER JOIN PRODUCAO_FASE ON PRODUCAO_FASE.FASE_PRODUCAO = MATERIAIS.FASE_PRODUCAO    
				INNER JOIN PRODUCAO_SETOR ON PRODUCAO_SETOR.FASE_PRODUCAO = MATERIAIS.FASE_PRODUCAO AND 
											  PRODUCAO_SETOR.SETOR_PRODUCAO = MATERIAIS.SETOR_PRODUCAO    
				WHERE PRODUCAO_RESERVA.ORDEM_PRODUCAO ='''+@ORDEM_PRODUCAO+''' AND TIPO_RESERVA NOT IN(''1'',''4'',''6'',''7'',''8'')    
				AND MATERIAIS.RESERVA_MATERIAL_OP = 0
		   		ORDER BY PRODUCAO_RESERVA.MATERIAL, PRODUCAO_RESERVA.COR_MATERIAL')    

	END
	ELSE
	BEGIN
	 	INSERT INTO #CURSOR_RESERVA SELECT * FROM #CURSOR_RESERVA_AUX
	END		    
 	/* SELECT EM PRODUCAO_ORDEM_COR */    

	IF (SELECT OBJECT_ID('TEMPDB..#CUR_RESERVA_OP')) IS NULL 
	BEGIN
 		DECLARE CUR_PRODUCAO_ORDEM_COR CURSOR FOR     
 		SELECT  PRODUTO,COR_PRODUTO,O1  , O2  , O3  , O4  , O5  , O6  , O7  , O8  , O9  , O10 , O11 , O12 , 
				O13 , O14 , O15 , O16 , O17 , O18 , O19 , O20 , O21 , O22 , O23 , O24 , O25 , O26 , 
				O27 , O28 , O29 , O30 , O31 , O32 , O33 , O34 , O35 , O36 , O37 , O38 , O39 , O40 , 
				O41 , O42 , O43 , O44 , O45 , O46 , O47 , O48     
 		FROM PRODUCAO_ORDEM_COR    
 		WHERE	ORDEM_PRODUCAO=@ORDEM_PRODUCAO 
				
		-- ADICIONADO EM 15/07/05 POR SZALONTAI PARA ATENDER OS PEDIDOS DE COMPRA DE PA
		UNION ALL 
		-- ADICIONADO O CAMPO PRODUTO POR SZALONTAI EM 09/11/07 POIS PODE HAVER MAIS DE UM PRODUTO NO PEDIDO
		SELECT  PRODUTO,COR_PRODUTO,CO1  , CO2  , CO3  , CO4  , CO5  , CO6  , CO7  , CO8  , CO9  , CO10 , CO11 ,       
				CO12 , CO13 , CO14 , CO15 , CO16 , CO17 , CO18 , CO19 , CO20 , CO21 , CO22 , CO23 , CO24 , CO25 , CO26 , CO27 ,       
				CO28 , CO29 , CO30 , CO31 , CO32 , CO33 , CO34 , CO35 , CO36 , CO37 , CO38 , CO39 , CO40 , CO41 , CO42 , CO43 ,       
				CO44 , CO45 , CO46 , CO47 , CO48       
		FROM	COMPRAS_PRODUTO      
		WHERE	PEDIDO=@ORDEM_PRODUCAO 
		
	END
	ELSE
	BEGIN
 		DECLARE CUR_PRODUCAO_ORDEM_COR CURSOR FOR     
 		SELECT  PRODUTO,COR_PRODUTO,ISNULL(O1,0)  , ISNULL(O2  ,0), ISNULL(O3  ,0), ISNULL(O4  ,0), ISNULL(O5  ,0), ISNULL(O6  ,0), ISNULL(O7  ,0), ISNULL(O8  ,0), ISNULL(O9  ,0), ISNULL(O10 ,0), ISNULL(O11 ,0), ISNULL(O12 ,0), 
				ISNULL(O13 ,0), ISNULL(O14 ,0), ISNULL(O15 ,0), ISNULL(O16 ,0), ISNULL(O17 ,0), ISNULL(O18 ,0), ISNULL(O19 ,0), ISNULL(O20 ,0), ISNULL(O21 ,0), ISNULL(O22 ,0), ISNULL(O23 ,0), ISNULL(O24 ,0), ISNULL(O25 ,0), ISNULL(O26 ,0), 
				ISNULL(O27 ,0), ISNULL(O28 ,0), ISNULL(O29 ,0), ISNULL(O30 ,0), ISNULL(O31 ,0), ISNULL(O32 ,0), ISNULL(O33 ,0), ISNULL(O34 ,0), ISNULL(O35 ,0), ISNULL(O36 ,0), ISNULL(O37 ,0), ISNULL(O38 ,0), ISNULL(O39 ,0), ISNULL(O40 ,0), 
				ISNULL(O41 ,0), ISNULL(O42 ,0), ISNULL(O43 ,0), ISNULL(O44 ,0), ISNULL(O45 ,0), ISNULL(O46 ,0), ISNULL(O47 ,0), ISNULL(O48,0)     
 		FROM #CUR_RESERVA_OP    
	END	
    
 	OPEN CUR_PRODUCAO_ORDEM_COR    
    
 	FETCH NEXT FROM CUR_PRODUCAO_ORDEM_COR    
 	INTO  @XPRODUTO,@COR_PRODUTO,@O1 , @O2  , @O3  , @O4  , @O5  , @O6  , @O7  , @O8  , @O9  , @O10 , @O11 ,     
		  @O12 , @O13 , @O14 , @O15 , @O16 , @O17 , @O18 , @O19 , @O20 , @O21 , @O22 , @O23 , @O24 , @O25 , @O26 , @O27 ,     
		  @O28 , @O29 , @O30 , @O31 , @O32 , @O33 , @O34 , @O35 , @O36 , @O37 , @O38 , @O39 , @O40 , @O41 , @O42 , @O43 ,     
		  @O44 , @O45 , @O46 , @O47 , @O48     
    
    
	WHILE @@FETCH_STATUS = 0 -- CUR_PRODUCAO_ORDEM_COR    
	BEGIN    

  		DECLARE CUR_MATERIAIS CURSOR FOR     
  		SELECT  PRODUTOS_FICHA.MATERIAL, PRODUTOS_FICHA_COR.COR_MATERIAL,MATERIAIS.FATOR_CONVERSAO,     
			    PRODUTOS_FICHA.C1 *@O1 +PRODUTOS_FICHA.C2 *@O2 +PRODUTOS_FICHA.C3 *@O3 +PRODUTOS_FICHA.C4 *@O4+    
			    PRODUTOS_FICHA.C5 *@O5 +PRODUTOS_FICHA.C6 *@O6 +PRODUTOS_FICHA.C7 *@O7 +PRODUTOS_FICHA.C8 *@O8+    
			    PRODUTOS_FICHA.C9 *@O9 +PRODUTOS_FICHA.C10*@O10+PRODUTOS_FICHA.C11*@O11+PRODUTOS_FICHA.C12*@O12+    
			    PRODUTOS_FICHA.C13*@O13+PRODUTOS_FICHA.C14*@O14+PRODUTOS_FICHA.C15*@O15+PRODUTOS_FICHA.C16*@O16+    
			    PRODUTOS_FICHA.C17*@O17+PRODUTOS_FICHA.C18*@O18+PRODUTOS_FICHA.C19*@O19+PRODUTOS_FICHA.C20*@O20+    
			    PRODUTOS_FICHA.C21*@O21+PRODUTOS_FICHA.C22*@O22+PRODUTOS_FICHA.C23*@O23+PRODUTOS_FICHA.C24*@O24+    
			    PRODUTOS_FICHA.C25*@O25+PRODUTOS_FICHA.C26*@O26+PRODUTOS_FICHA.C27*@O27+PRODUTOS_FICHA.C28*@O28+    
			    PRODUTOS_FICHA.C29*@O29+PRODUTOS_FICHA.C30*@O30+PRODUTOS_FICHA.C31*@O31+PRODUTOS_FICHA.C32*@O32+    
			    PRODUTOS_FICHA.C33*@O33+PRODUTOS_FICHA.C34*@O34+PRODUTOS_FICHA.C35*@O35+PRODUTOS_FICHA.C36*@O36+    
			    PRODUTOS_FICHA.C37*@O37+PRODUTOS_FICHA.C38*@O38+PRODUTOS_FICHA.C39*@O39+PRODUTOS_FICHA.C40*@O40+    
			    PRODUTOS_FICHA.C41*@O41+PRODUTOS_FICHA.C42*@O42+PRODUTOS_FICHA.C43*@O43+PRODUTOS_FICHA.C44*@O44+    
			    PRODUTOS_FICHA.C45*@O45+PRODUTOS_FICHA.C46*@O46+PRODUTOS_FICHA.C47*@O47+PRODUTOS_FICHA.C48*@O48,    
			    PRODUTOS_FICHA_COR.PORCENTAGEM_CONSUMO,    
			    PRODUTOS_FICHA.FASE_PRODUCAO,PRODUTOS_FICHA.SETOR_PRODUCAO    
		FROM  	PRODUTOS_FICHA, PRODUTOS_FICHA_COR, MATERIAIS, MATERIAIS_CORES    	
		WHERE  	PRODUTOS_FICHA.PRODUTO=PRODUTOS_FICHA_COR.PRODUTO AND     
			    PRODUTOS_FICHA.MATERIAL = PRODUTOS_FICHA_COR.MATERIAL AND     
			    PRODUTOS_FICHA.ITEM = PRODUTOS_FICHA_COR.ITEM AND     
			    MATERIAIS.MATERIAL = PRODUTOS_FICHA.MATERIAL  AND     
			    MATERIAIS.RESERVA_MATERIAL_OP = 0 AND     
			    MATERIAIS_CORES.MATERIAL = MATERIAIS.MATERIAL AND     
			    MATERIAIS_CORES.COR_MATERIAL = PRODUTOS_FICHA_COR.COR_MATERIAL AND     
			    PRODUTOS_FICHA.PRODUTO = @XPRODUTO AND     
			    PRODUTOS_FICHA_COR.COR_PRODUTO = @COR_PRODUTO    
 		ORDER BY PRODUTOS_FICHA_COR.PRODUTO,PRODUTOS_FICHA_COR.COR_PRODUTO    
		    
  		OPEN CUR_MATERIAIS    
    
  		FETCH NEXT FROM CUR_MATERIAIS    
  		INTO @MATERIAL, @COR_MATERIAL, @FATOR_CONVERSAO_NA_RESERVA, @CONSUMIDO, @PORCENTAGEM_CONSUMO,@FASE_PRODUCAO,@SETOR_PRODUCAO    
    
    
  		WHILE @@FETCH_STATUS = 0 -- CUR_PRODUCAO_ORDEM_COR    
  		BEGIN    
    
		   	IF (SELECT COUNT(*) FROM #CURSOR_RESERVA WHERE ORDEM_PRODUCAO = @ORDEM_PRODUCAO AND MATERIAL = @MATERIAL AND COR_MATERIAL = @COR_MATERIAL)= 0    
		   	BEGIN    
	    
	    		INSERT INTO #CURSOR_RESERVA     
	       					(ORDEM_PRODUCAO,MATERIAL,COR_MATERIAL,DATA_RESERVA,    
	       					FATOR_CONVERSAO_NA_RESERVA, TIPO_RESERVA,MATAR_SALDO_RESERVA,    
	       					FASE_PRODUCAO,SETOR_PRODUCAO,CONTROLE)     
	    		VALUES (@ORDEM_PRODUCAO,@MATERIAL,@COR_MATERIAL,GETDATE(),    
	        			@FATOR_CONVERSAO_NA_RESERVA ,1,0,@FASE_PRODUCAO,@SETOR_PRODUCAO,0)    
	    
	    		SELECT @CONSUMIDO_ALT = 0, @MATERIAL_MODIFICADO = ''    
	    
	   		END    
	   		ELSE    
	   		BEGIN    
	    		SELECT @CONSUMIDO_ALT = ALTERACAO_CONSUMO, @MATERIAL_MODIFICADO = MATERIAL_MODIFICADO
	    			,@COR_MATERIAL_MODIFICADO = COR_MATERIAL_MODIFICADO -- ADICIONADO EM 10/11/10 - SZALONTAI
	    		FROM #CURSOR_RESERVA WHERE ORDEM_PRODUCAO = @ORDEM_PRODUCAO AND MATERIAL = @MATERIAL AND COR_MATERIAL = @COR_MATERIAL    
	   		END    
	    
	   		SELECT @CONSUMIDO_ABS = CONVERT(NUMERIC(12,5),ABS(@CONSUMIDO_ALT))    
	   		SELECT @CONSUMIDO_NEW = CONVERT(NUMERIC(12,5),(@CONSUMIDO_ABS/100)*((@CONSUMIDO)/@FATOR_CONVERSAO_NA_RESERVA))    
	    
	   		IF @MATERIAL_MODIFICADO IS NULL OR RTRIM(LTRIM(@MATERIAL_MODIFICADO)) = ''    
	    
	    		UPDATE #CURSOR_RESERVA SET     
	     			RESERVA_ORIGINAL = RESERVA_ORIGINAL + CONVERT(NUMERIC(12,5),((( @CONSUMIDO* @PORCENTAGEM_CONSUMO) / 100 )/ @FATOR_CONVERSAO_NA_RESERVA)),     
	     			DATA_RESERVA   = GETDATE()    
	    		WHERE ORDEM_PRODUCAO = @ORDEM_PRODUCAO AND MATERIAL = @MATERIAL AND COR_MATERIAL = @COR_MATERIAL    
				AND TIPO_RESERVA<>2  -- ADICIONADO EM 20/05/09 - SZALONTAI        
	   		ELSE    
	   		BEGIN    
	    
			    UPDATE #CURSOR_RESERVA SET     
	     			RESERVA_ORIGINAL = RESERVA_ORIGINAL + CONVERT(NUMERIC(12,5),((( @CONSUMIDO* @PORCENTAGEM_CONSUMO) / 100 )/ @FATOR_CONVERSAO_NA_RESERVA)),     
	     			DATA_RESERVA   = GETDATE()    
	    		WHERE ORDEM_PRODUCAO = @ORDEM_PRODUCAO 
	    		AND MATERIAL = @MATERIAL_MODIFICADO AND COR_MATERIAL = @COR_MATERIAL_MODIFICADO  -- ALTERADO EM 10/11/10 - SZALONTAI  
				AND TIPO_RESERVA<>2 -- ADICIONADO EM 20/05/09 - SZALONTAI        

	    		UPDATE #CURSOR_RESERVA SET     
	     			RESERVA_ORIGINAL = RESERVA_ORIGINAL + @CONSUMIDO_NEW*(CASE WHEN @CONSUMIDO_ABS = 0 THEN 1 ELSE @CONSUMIDO_ALT/@CONSUMIDO_ABS END)    
	    		WHERE ORDEM_PRODUCAO = @ORDEM_PRODUCAO 
	    		AND MATERIAL = @MATERIAL_MODIFICADO AND COR_MATERIAL = @COR_MATERIAL_MODIFICADO    -- ALTERADO EM 10/11/10 - SZALONTAI  
				AND TIPO_RESERVA<>2 -- ADICIONADO EM 20/05/09 - SZALONTAI        

	   		END     
	    
	   		FETCH NEXT FROM CUR_MATERIAIS    
	   		INTO @MATERIAL, @COR_MATERIAL, @FATOR_CONVERSAO_NA_RESERVA, @CONSUMIDO, @PORCENTAGEM_CONSUMO,@FASE_PRODUCAO,@SETOR_PRODUCAO    
	    
	  	END    
	    
	  	CLOSE CUR_MATERIAIS    
	  	DEALLOCATE CUR_MATERIAIS    
	    
	  	FETCH NEXT FROM CUR_PRODUCAO_ORDEM_COR INTO  
				@XPRODUTO,@COR_PRODUTO,@O1 , @O2  , @O3  , @O4  , @O5  , @O6  , @O7  , @O8  , @O9  , @O10 , @O11 ,     
	    		@O12 , @O13 , @O14 , @O15 , @O16 , @O17 , @O18 , @O19 , @O20 , @O21 , @O22 , @O23 , @O24 , @O25 , @O26 , @O27 ,     
	    		@O28 , @O29 , @O30 , @O31 , @O32 , @O33 , @O34 , @O35 , @O36 , @O37 , @O38 , @O39 , @O40 , @O41 , @O42 , @O43 ,     
	    		@O44 , @O45 , @O46 , @O47 , @O48     
	    
	END -- @@FETCH_STATUS = 0 -- CUR_PRODUCAO_ORDEM_COR    
    
 	CLOSE CUR_PRODUCAO_ORDEM_COR    
 	DEALLOCATE CUR_PRODUCAO_ORDEM_COR    
    
 	/* SUBSTITUICAO DE MATERIAIS POR PRODUTO*/    
    
 	DECLARE CUR_RESERVA CURSOR FOR     
 	SELECT 	MATERIAL,COR_MATERIAL,MATERIAL_MODIFICADO,COR_MATERIAL_MODIFICADO     
 	FROM 	#CURSOR_RESERVA WHERE (MATERIAL_MODIFICADO IS NOT NULL OR RTRIM(LTRIM(MATERIAL_MODIFICADO)) <> '') 
			AND TIPO_RESERVA<>5  
			AND TIPO_RESERVA<>2 -- ADICIONADO EM 30/09/08 - SZALONTAI
 	ORDER BY MATERIAL,COR_MATERIAL    
    
 	OPEN CUR_RESERVA    
    
 	FETCH NEXT FROM CUR_RESERVA INTO @MATERIAL, @COR_MATERIAL, @MATERIAL_MODIFICADO, @COR_MATERIAL_MODIFICADO    
    
 	WHILE @@FETCH_STATUS = 0 -- CUR_RESERVA    
 	BEGIN    
    
	  	SELECT  @ALTERACAO_CONSUMO = SUBSTITUICOES_MATERIAL.ALTERACAO_CONSUMO    
	  	FROM 	SUBSTITUICOES_MATERIAL,MATERIAIS , MATERIAIS_CORES 
		WHERE   SUBSTITUICOES_MATERIAL.MATERIAL=MATERIAIS.MATERIAL AND      
	  			SUBSTITUICOES_MATERIAL.MATERIAL=MATERIAIS_CORES.MATERIAL AND     
			  	SUBSTITUICOES_MATERIAL.COR_MATERIAL=MATERIAIS_CORES.COR_MATERIAL AND     
			  	MATERIAL_SUBSTITUIDO     = @MATERIAL_MODIFICADO AND     
			  	COR_MATERIAL_SUBSTITUIDO    = @COR_MATERIAL_MODIFICADO AND     
			  	SUBSTITUICOES_MATERIAL.MATERIAL  = @MATERIAL AND     
			  	SUBSTITUICOES_MATERIAL.COR_MATERIAL = @COR_MATERIAL    
    
  		SELECT @RESERVA_ORIGINAL = RESERVA_ORIGINAL+RESERVA_ORIGINAL*(@ALTERACAO_CONSUMO/100)    
  		FROM #CURSOR_RESERVA WHERE MATERIAL = @MATERIAL_MODIFICADO AND COR_MATERIAL  = @COR_MATERIAL_MODIFICADO    
    
  		SELECT @RESERVA = CASE WHEN @RESERVA_ORIGINAL - CONSUMIDA > 0 AND MATAR_SALDO_RESERVA<>0 THEN @RESERVA_ORIGINAL - CONSUMIDA ELSE 0 END    
  		FROM #CURSOR_RESERVA WHERE MATERIAL = @MATERIAL_MODIFICADO AND COR_MATERIAL  = @COR_MATERIAL_MODIFICADO    
    
  		UPDATE #CURSOR_RESERVA SET RESERVA = 0,RESERVA_ORIGINAL = 0 , DIFERENCA_PREVISAO = 0      
  		WHERE MATERIAL = @MATERIAL_MODIFICADO AND COR_MATERIAL  = @COR_MATERIAL_MODIFICADO    
    
  		UPDATE #CURSOR_RESERVA SET RESERVA = @RESERVA,RESERVA_ORIGINAL = @RESERVA_ORIGINAL , TIPO_RESERVA= 3     
  		WHERE MATERIAL = @MATERIAL AND COR_MATERIAL  = @COR_MATERIAL    			  
    
  		FETCH NEXT FROM CUR_RESERVA INTO @MATERIAL, @COR_MATERIAL, @MATERIAL_MODIFICADO, @COR_MATERIAL_MODIFICADO    
    
 	END -- @@FETCH_STATUS = 0 -- CUR_RESERVA    
    
 	CLOSE CUR_RESERVA    
 	DEALLOCATE CUR_RESERVA    
    
	/* SUBSTITUICAO DE MATERIAIS FT*/    

	IF (SELECT OBJECT_ID('TEMPDB..#CUR_RESERVA_OP')) IS NULL 
	BEGIN    

 		DECLARE CUR_CLIENTE CURSOR FOR      
 		SELECT DISTINCT A.ID_MODIFICACAO,PRODUTOS_FICHA_COR.MATERIAL,PRODUTOS_FICHA_COR.COR_MATERIAL,    
 		PRODUTOS_FICHA_COR.COR_PRODUTO, RESERVA_ORIGINAL=     
 		CASE WHEN TIPO_MODIFICACAO IN('E','S') THEN (SUM(((    
			(PRODUTOS_FICHA.C1*A.O1   )+(PRODUTOS_FICHA.C2*A.O2  )+ (PRODUTOS_FICHA.C3*A.O3   )+(PRODUTOS_FICHA.C4*A.O4  )+     
			(PRODUTOS_FICHA.C5*A.O5   )+(PRODUTOS_FICHA.C6*A.O6  )+ (PRODUTOS_FICHA.C7*A.O7   )+(PRODUTOS_FICHA.C8*A.O8  )+     
			(PRODUTOS_FICHA.C9*A.O9   )+(PRODUTOS_FICHA.C10*A.O10)+ (PRODUTOS_FICHA.C11*A.O11 )+(PRODUTOS_FICHA.C12*A.O12)+     
			(PRODUTOS_FICHA.C13*A.O13 )+(PRODUTOS_FICHA.C14*A.O14)+ (PRODUTOS_FICHA.C15*A.O15 )+(PRODUTOS_FICHA.C16*A.O16)+     
			(PRODUTOS_FICHA.C17*A.O17 )+(PRODUTOS_FICHA.C18*A.O18)+ (PRODUTOS_FICHA.C19*A.O19 )+(PRODUTOS_FICHA.C20*A.O20)+     
			(PRODUTOS_FICHA.C21*A.O21 )+(PRODUTOS_FICHA.C22*A.O22)+ (PRODUTOS_FICHA.C23*A.O23 )+(PRODUTOS_FICHA.C24*A.O24)+      
			(PRODUTOS_FICHA.C25*A.O25 )+(PRODUTOS_FICHA.C26*A.O26)+ (PRODUTOS_FICHA.C27*A.O27 )+(PRODUTOS_FICHA.C28*A.O28)+     
			(PRODUTOS_FICHA.C29*A.O29 )+(PRODUTOS_FICHA.C30*A.O30)+ (PRODUTOS_FICHA.C31*A.O31 )+(PRODUTOS_FICHA.C32*A.O32)+     
			(PRODUTOS_FICHA.C33*A.O33 )+(PRODUTOS_FICHA.C34*A.O34)+ (PRODUTOS_FICHA.C35*A.O35 )+(PRODUTOS_FICHA.C36*A.O36)+     
			(PRODUTOS_FICHA.C37*A.O37 )+(PRODUTOS_FICHA.C38*A.O38)+ (PRODUTOS_FICHA.C39*A.O39 )+(PRODUTOS_FICHA.C40*A.O40)+     
			(PRODUTOS_FICHA.C41*A.O41 )+(PRODUTOS_FICHA.C42*A.O42)+ (PRODUTOS_FICHA.C43*A.O43 )+(PRODUTOS_FICHA.C44*A.O44)+     
			(PRODUTOS_FICHA.C45*A.O45 )+(PRODUTOS_FICHA.C46*A.O46)+ (PRODUTOS_FICHA.C47*A.O47 )+(PRODUTOS_FICHA.C48*A.O48))*    
			(PRODUTOS_FICHA_COR.PORCENTAGEM_CONSUMO/100))))    
 		ELSE (SUM(((    
			(MODIFICACAO_FT_MATERIAL.C1*A.O1   )+(MODIFICACAO_FT_MATERIAL.C2*A.O2  )+ (MODIFICACAO_FT_MATERIAL.C3*A.O3   )+(MODIFICACAO_FT_MATERIAL.C4*A.O4  )+     
			(MODIFICACAO_FT_MATERIAL.C5*A.O5   )+(MODIFICACAO_FT_MATERIAL.C6*A.O6  )+ (MODIFICACAO_FT_MATERIAL.C7*A.O7   )+(MODIFICACAO_FT_MATERIAL.C8*A.O8  )+     
			(MODIFICACAO_FT_MATERIAL.C9*A.O9   )+(MODIFICACAO_FT_MATERIAL.C10*A.O10)+ (MODIFICACAO_FT_MATERIAL.C11*A.O11 )+(MODIFICACAO_FT_MATERIAL.C12*A.O12)+     
			(MODIFICACAO_FT_MATERIAL.C13*A.O13 )+(MODIFICACAO_FT_MATERIAL.C14*A.O14)+ (MODIFICACAO_FT_MATERIAL.C15*A.O15 )+(MODIFICACAO_FT_MATERIAL.C16*A.O16)+     
			(MODIFICACAO_FT_MATERIAL.C17*A.O17 )+(MODIFICACAO_FT_MATERIAL.C18*A.O18)+ (MODIFICACAO_FT_MATERIAL.C19*A.O19 )+(MODIFICACAO_FT_MATERIAL.C20*A.O20)+     
			(MODIFICACAO_FT_MATERIAL.C21*A.O21 )+(MODIFICACAO_FT_MATERIAL.C22*A.O22)+ (MODIFICACAO_FT_MATERIAL.C23*A.O23 )+(MODIFICACAO_FT_MATERIAL.C24*A.O24)+      
			(MODIFICACAO_FT_MATERIAL.C25*A.O25 )+(MODIFICACAO_FT_MATERIAL.C26*A.O26)+ (MODIFICACAO_FT_MATERIAL.C27*A.O27 )+(MODIFICACAO_FT_MATERIAL.C28*A.O28)+     
			(MODIFICACAO_FT_MATERIAL.C29*A.O29 )+(MODIFICACAO_FT_MATERIAL.C30*A.O30)+ (MODIFICACAO_FT_MATERIAL.C31*A.O31 )+(MODIFICACAO_FT_MATERIAL.C32*A.O32)+     
			(MODIFICACAO_FT_MATERIAL.C33*A.O33 )+(MODIFICACAO_FT_MATERIAL.C34*A.O34)+ (MODIFICACAO_FT_MATERIAL.C35*A.O35 )+(MODIFICACAO_FT_MATERIAL.C36*A.O36)+     
			(MODIFICACAO_FT_MATERIAL.C37*A.O37 )+(MODIFICACAO_FT_MATERIAL.C38*A.O38)+ (MODIFICACAO_FT_MATERIAL.C39*A.O39 )+(MODIFICACAO_FT_MATERIAL.C40*A.O40)+     
			(MODIFICACAO_FT_MATERIAL.C41*A.O41 )+(MODIFICACAO_FT_MATERIAL.C42*A.O42)+ (MODIFICACAO_FT_MATERIAL.C43*A.O43 )+(MODIFICACAO_FT_MATERIAL.C44*A.O44)+     
			(MODIFICACAO_FT_MATERIAL.C45*A.O45 )+(MODIFICACAO_FT_MATERIAL.C46*A.O46)+ (MODIFICACAO_FT_MATERIAL.C47*A.O47 )+(MODIFICACAO_FT_MATERIAL.C48*A.O48))*    
			(PRODUTOS_FICHA_COR.PORCENTAGEM_CONSUMO/100))))    
		END,MODIFICACAO_FT_MATERIAL.ITEM,TIPO_MODIFICACAO     
		FROM  PRODUTOS_FICHA                                                                                     
  		INNER JOIN  PRODUTOS_FICHA_COR ON  PRODUTOS_FICHA_COR.ITEM     = PRODUTOS_FICHA.ITEM AND     
          	 		PRODUTOS_FICHA_COR.PRODUTO   = PRODUTOS_FICHA.PRODUTO AND       
           			PRODUTOS_FICHA_COR.MATERIAL  = PRODUTOS_FICHA.MATERIAL              
  		INNER JOIN 	PRODUTOS     ON  PRODUTOS_FICHA.PRODUTO    = PRODUTOS.PRODUTO                     
  		INNER JOIN 	MATERIAIS    ON  PRODUTOS_FICHA.MATERIAL   = MATERIAIS.MATERIAL                
  		INNER JOIN 	MATERIAIS_CORES  ON  PRODUTOS_FICHA_COR.MATERIAL  = MATERIAIS_CORES.MATERIAL AND      
           			PRODUTOS_FICHA_COR.COR_MATERIAL = MATERIAIS_CORES.COR_MATERIAL       
  		INNER JOIN 	PRODUCAO_ORDEM_COR  A ON A.PRODUTO = PRODUTOS_FICHA_COR.PRODUTO AND     
           			A.COR_PRODUTO = PRODUTOS_FICHA_COR.COR_PRODUTO    
  		INNER JOIN 	MODIFICACAO_FT_MATERIAL ON MODIFICACAO_FT_MATERIAL.ID_MODIFICACAO = A.ID_MODIFICACAO AND    
            		MODIFICACAO_FT_MATERIAL.MATERIAL_MODIFICADO = PRODUTOS_FICHA_COR.MATERIAL AND     
            		MODIFICACAO_FT_MATERIAL.COR_MATERIAL_MODIFICADO = PRODUTOS_FICHA_COR.COR_MATERIAL AND       
					((LTRIM(RTRIM(ISNULL(MODIFICACAO_FT_MATERIAL.ITEM_FT,'')))<>'' AND  
                      LTRIM(RTRIM(ISNULL(MODIFICACAO_FT_MATERIAL.ITEM_FT,''))) = PRODUTOS_FICHA_COR.ITEM)
					OR 
					(LTRIM(RTRIM(ISNULL(MODIFICACAO_FT_MATERIAL.ITEM_FT,'')))='' AND 1=1))

 		WHERE 		A.ID_MODIFICACAO IS NOT NULL AND TIPO_MODIFICACAO IN ('S','E','A')    AND 
					A.ORDEM_PRODUCAO = @ORDEM_PRODUCAO     
					AND MATERIAIS.RESERVA_MATERIAL_OP = 0
 		GROUP BY A.ID_MODIFICACAO,PRODUTOS_FICHA_COR.MATERIAL,PRODUTOS_FICHA_COR.COR_MATERIAL,PRODUTOS_FICHA_COR.COR_PRODUTO,TIPO_MODIFICACAO,MODIFICACAO_FT_MATERIAL.ITEM     
		ORDER BY TIPO_MODIFICACAO DESC
	END
	ELSE
	BEGIN

 		DECLARE CUR_CLIENTE CURSOR FOR      
 		SELECT DISTINCT A.ID_MODIFICACAO,PRODUTOS_FICHA_COR.MATERIAL,PRODUTOS_FICHA_COR.COR_MATERIAL,    
 		PRODUTOS_FICHA_COR.COR_PRODUTO, RESERVA_ORIGINAL=     
 		CASE WHEN TIPO_MODIFICACAO IN('E','S') THEN (SUM(((    
			(PRODUTOS_FICHA.C1*ISNULL(A.O1   ,0))+(PRODUTOS_FICHA.C2*ISNULL(A.O2  ,0))+ (PRODUTOS_FICHA.C3*ISNULL(A.O3   ,0))+(PRODUTOS_FICHA.C4*ISNULL(A.O4  ,0))+     
			(PRODUTOS_FICHA.C5*ISNULL(A.O5   ,0))+(PRODUTOS_FICHA.C6*ISNULL(A.O6  ,0))+ (PRODUTOS_FICHA.C7*ISNULL(A.O7   ,0))+(PRODUTOS_FICHA.C8*ISNULL(A.O8  ,0))+     
			(PRODUTOS_FICHA.C9*ISNULL(A.O9   ,0))+(PRODUTOS_FICHA.C10*ISNULL(A.O10,0))+ (PRODUTOS_FICHA.C11*ISNULL(A.O11 ,0))+(PRODUTOS_FICHA.C12*ISNULL(A.O12,0))+     
			(PRODUTOS_FICHA.C13*ISNULL(A.O13 ,0))+(PRODUTOS_FICHA.C14*ISNULL(A.O14,0))+ (PRODUTOS_FICHA.C15*ISNULL(A.O15 ,0))+(PRODUTOS_FICHA.C16*ISNULL(A.O16,0))+     
			(PRODUTOS_FICHA.C17*ISNULL(A.O17 ,0))+(PRODUTOS_FICHA.C18*ISNULL(A.O18,0))+ (PRODUTOS_FICHA.C19*ISNULL(A.O19 ,0))+(PRODUTOS_FICHA.C20*ISNULL(A.O20,0))+     
			(PRODUTOS_FICHA.C21*ISNULL(A.O21 ,0))+(PRODUTOS_FICHA.C22*ISNULL(A.O22,0))+ (PRODUTOS_FICHA.C23*ISNULL(A.O23 ,0))+(PRODUTOS_FICHA.C24*ISNULL(A.O24,0))+      
			(PRODUTOS_FICHA.C25*ISNULL(A.O25 ,0))+(PRODUTOS_FICHA.C26*ISNULL(A.O26,0))+ (PRODUTOS_FICHA.C27*ISNULL(A.O27 ,0))+(PRODUTOS_FICHA.C28*ISNULL(A.O28,0))+     
			(PRODUTOS_FICHA.C29*ISNULL(A.O29 ,0))+(PRODUTOS_FICHA.C30*ISNULL(A.O30,0))+ (PRODUTOS_FICHA.C31*ISNULL(A.O31 ,0))+(PRODUTOS_FICHA.C32*ISNULL(A.O32,0))+     
			(PRODUTOS_FICHA.C33*ISNULL(A.O33 ,0))+(PRODUTOS_FICHA.C34*ISNULL(A.O34,0))+ (PRODUTOS_FICHA.C35*ISNULL(A.O35 ,0))+(PRODUTOS_FICHA.C36*ISNULL(A.O36,0))+     
			(PRODUTOS_FICHA.C37*ISNULL(A.O37 ,0))+(PRODUTOS_FICHA.C38*ISNULL(A.O38,0))+ (PRODUTOS_FICHA.C39*ISNULL(A.O39 ,0))+(PRODUTOS_FICHA.C40*ISNULL(A.O40,0))+     
			(PRODUTOS_FICHA.C41*ISNULL(A.O41 ,0))+(PRODUTOS_FICHA.C42*ISNULL(A.O42,0))+ (PRODUTOS_FICHA.C43*ISNULL(A.O43 ,0))+(PRODUTOS_FICHA.C44*ISNULL(A.O44,0))+     
			(PRODUTOS_FICHA.C45*ISNULL(A.O45 ,0))+(PRODUTOS_FICHA.C46*ISNULL(A.O46,0))+ (PRODUTOS_FICHA.C47*ISNULL(A.O47 ,0))+(PRODUTOS_FICHA.C48*ISNULL(A.O48,0)))*    
			(PRODUTOS_FICHA_COR.PORCENTAGEM_CONSUMO/100))))    
 		ELSE (SUM(((    
			(MODIFICACAO_FT_MATERIAL.C1*ISNULL(A.O1   ,0))+(MODIFICACAO_FT_MATERIAL.C2*ISNULL(A.O2  ,0))+ (MODIFICACAO_FT_MATERIAL.C3*ISNULL(A.O3   ,0))+(MODIFICACAO_FT_MATERIAL.C4*ISNULL(A.O4  ,0))+     
			(MODIFICACAO_FT_MATERIAL.C5*ISNULL(A.O5   ,0))+(MODIFICACAO_FT_MATERIAL.C6*ISNULL(A.O6  ,0))+ (MODIFICACAO_FT_MATERIAL.C7*ISNULL(A.O7   ,0))+(MODIFICACAO_FT_MATERIAL.C8*ISNULL(A.O8  ,0))+     
			(MODIFICACAO_FT_MATERIAL.C9*ISNULL(A.O9   ,0))+(MODIFICACAO_FT_MATERIAL.C10*ISNULL(A.O10,0))+ (MODIFICACAO_FT_MATERIAL.C11*ISNULL(A.O11 ,0))+(MODIFICACAO_FT_MATERIAL.C12*ISNULL(A.O12,0))+     
			(MODIFICACAO_FT_MATERIAL.C13*ISNULL(A.O13 ,0))+(MODIFICACAO_FT_MATERIAL.C14*ISNULL(A.O14,0))+ (MODIFICACAO_FT_MATERIAL.C15*ISNULL(A.O15 ,0))+(MODIFICACAO_FT_MATERIAL.C16*ISNULL(A.O16,0))+     
			(MODIFICACAO_FT_MATERIAL.C17*ISNULL(A.O17 ,0))+(MODIFICACAO_FT_MATERIAL.C18*ISNULL(A.O18,0))+ (MODIFICACAO_FT_MATERIAL.C19*ISNULL(A.O19 ,0))+(MODIFICACAO_FT_MATERIAL.C20*ISNULL(A.O20,0))+     
			(MODIFICACAO_FT_MATERIAL.C21*ISNULL(A.O21 ,0))+(MODIFICACAO_FT_MATERIAL.C22*ISNULL(A.O22,0))+ (MODIFICACAO_FT_MATERIAL.C23*ISNULL(A.O23 ,0))+(MODIFICACAO_FT_MATERIAL.C24*ISNULL(A.O24,0))+      
			(MODIFICACAO_FT_MATERIAL.C25*ISNULL(A.O25 ,0))+(MODIFICACAO_FT_MATERIAL.C26*ISNULL(A.O26,0))+ (MODIFICACAO_FT_MATERIAL.C27*ISNULL(A.O27 ,0))+(MODIFICACAO_FT_MATERIAL.C28*ISNULL(A.O28,0))+     
			(MODIFICACAO_FT_MATERIAL.C29*ISNULL(A.O29 ,0))+(MODIFICACAO_FT_MATERIAL.C30*ISNULL(A.O30,0))+ (MODIFICACAO_FT_MATERIAL.C31*ISNULL(A.O31 ,0))+(MODIFICACAO_FT_MATERIAL.C32*ISNULL(A.O32,0))+     
			(MODIFICACAO_FT_MATERIAL.C33*ISNULL(A.O33 ,0))+(MODIFICACAO_FT_MATERIAL.C34*ISNULL(A.O34,0))+ (MODIFICACAO_FT_MATERIAL.C35*ISNULL(A.O35 ,0))+(MODIFICACAO_FT_MATERIAL.C36*ISNULL(A.O36,0))+     
			(MODIFICACAO_FT_MATERIAL.C37*ISNULL(A.O37 ,0))+(MODIFICACAO_FT_MATERIAL.C38*ISNULL(A.O38,0))+ (MODIFICACAO_FT_MATERIAL.C39*ISNULL(A.O39 ,0))+(MODIFICACAO_FT_MATERIAL.C40*ISNULL(A.O40,0))+     
			(MODIFICACAO_FT_MATERIAL.C41*ISNULL(A.O41 ,0))+(MODIFICACAO_FT_MATERIAL.C42*ISNULL(A.O42,0))+ (MODIFICACAO_FT_MATERIAL.C43*ISNULL(A.O43 ,0))+(MODIFICACAO_FT_MATERIAL.C44*ISNULL(A.O44,0))+     
			(MODIFICACAO_FT_MATERIAL.C45*ISNULL(A.O45 ,0))+(MODIFICACAO_FT_MATERIAL.C46*ISNULL(A.O46,0))+ (MODIFICACAO_FT_MATERIAL.C47*ISNULL(A.O47 ,0))+(MODIFICACAO_FT_MATERIAL.C48*ISNULL(A.O48,0)))*    
			(PRODUTOS_FICHA_COR.PORCENTAGEM_CONSUMO/100))))    
		END,MODIFICACAO_FT_MATERIAL.ITEM,TIPO_MODIFICACAO
		FROM  PRODUTOS_FICHA                                                                                     
  		INNER JOIN  PRODUTOS_FICHA_COR ON  PRODUTOS_FICHA_COR.ITEM     = PRODUTOS_FICHA.ITEM AND     
          	 		PRODUTOS_FICHA_COR.PRODUTO   = PRODUTOS_FICHA.PRODUTO AND       
           			PRODUTOS_FICHA_COR.MATERIAL  = PRODUTOS_FICHA.MATERIAL              
  		INNER JOIN 	PRODUTOS     ON  PRODUTOS_FICHA.PRODUTO    = PRODUTOS.PRODUTO                     
  		INNER JOIN 	MATERIAIS    ON  PRODUTOS_FICHA.MATERIAL   = MATERIAIS.MATERIAL                
  		INNER JOIN 	MATERIAIS_CORES  ON  PRODUTOS_FICHA_COR.MATERIAL  = MATERIAIS_CORES.MATERIAL AND      
           			PRODUTOS_FICHA_COR.COR_MATERIAL = MATERIAIS_CORES.COR_MATERIAL       
  		INNER JOIN 	#CUR_RESERVA_OP  A ON A.PRODUTO = PRODUTOS_FICHA_COR.PRODUTO AND     
           			A.COR_PRODUTO = PRODUTOS_FICHA_COR.COR_PRODUTO    
  		INNER JOIN 	MODIFICACAO_FT_MATERIAL ON MODIFICACAO_FT_MATERIAL.ID_MODIFICACAO = A.ID_MODIFICACAO AND    
            		MODIFICACAO_FT_MATERIAL.MATERIAL_MODIFICADO = PRODUTOS_FICHA_COR.MATERIAL AND     
            		MODIFICACAO_FT_MATERIAL.COR_MATERIAL_MODIFICADO = PRODUTOS_FICHA_COR.COR_MATERIAL AND       
					((LTRIM(RTRIM(ISNULL(MODIFICACAO_FT_MATERIAL.ITEM_FT,'')))<>'' AND 
	                  LTRIM(RTRIM(ISNULL(MODIFICACAO_FT_MATERIAL.ITEM_FT,''))) = PRODUTOS_FICHA_COR.ITEM)
					OR 
					(LTRIM(RTRIM(ISNULL(MODIFICACAO_FT_MATERIAL.ITEM_FT,'')))='' AND 1=1))

 		WHERE 		A.ID_MODIFICACAO IS NOT NULL AND TIPO_MODIFICACAO IN ('S','E','A')    
					AND MATERIAIS.RESERVA_MATERIAL_OP = 0
 		GROUP BY A.ID_MODIFICACAO,PRODUTOS_FICHA_COR.MATERIAL,PRODUTOS_FICHA_COR.COR_MATERIAL,PRODUTOS_FICHA_COR.COR_PRODUTO,TIPO_MODIFICACAO,MODIFICACAO_FT_MATERIAL.ITEM
		ORDER BY TIPO_MODIFICACAO DESC
	END    
 	SELECT @XPRI = 1    
    
	OPEN CUR_CLIENTE     
    
 	FETCH NEXT FROM CUR_CLIENTE INTO @ID_MODIFICACAO,@MATERIAL,@COR_MATERIAL,@COR_PRODUTO,@RESERVA_ORIGINAL,@ITEM,@TIPO_MODIFICACAO
    
 	WHILE @@FETCH_STATUS = 0 -- CUR_CLIENTE         
 	BEGIN        

  		-- INCLUSÃO DO MATERIAL SUBSTITUTO        
  		IF 	(SELECT COUNT(*) FROM #CURSOR_RESERVA INNER JOIN         
      		(SELECT * FROM MODIFICACAO_FT_MATERIAL         
             WHERE ITEM = @ITEM AND  ID_MODIFICACAO = @ID_MODIFICACAO AND TIPO_MODIFICACAO IN ('S')) AS A         
             ON #CURSOR_RESERVA.MATERIAL = A.MATERIAL AND #CURSOR_RESERVA.COR_MATERIAL= A.COR_MATERIAL)=0        
  		BEGIN        
   			INSERT INTO #CURSOR_RESERVA         
      				(ORDEM_PRODUCAO,MATERIAL,COR_MATERIAL,DESC_MATERIAL,DESC_COR_MATERIAL,        
       				UNID_ESTOQUE,UNID_FICHA_TEC,FATOR_CONVERSAO,FASE_PRODUCAO,SETOR_PRODUCAO,FATOR_CONVERSAO_NA_RESERVA,
					DATA_RESERVA,TIPO_RESERVA,MATAR_SALDO_RESERVA,SUBSTITUICAO_POR_CLIENTE,MATERIAL_MODIFICADO,
					COR_MATERIAL_MODIFICADO,ALTERACAO_CONSUMO,CONTROLE)         
     		SELECT 	@ORDEM_PRODUCAO, MODIFICACAO_FT_MATERIAL.MATERIAL,        
     				MODIFICACAO_FT_MATERIAL.COR_MATERIAL,MATERIAIS.DESC_MATERIAL,MATERIAIS_CORES.DESC_COR_MATERIAL,         
     				MATERIAIS.UNID_ESTOQUE,MATERIAIS.UNID_FICHA_TEC,MATERIAIS.FATOR_CONVERSAO,MATERIAIS.FASE_PRODUCAO,        
     				MATERIAIS.SETOR_PRODUCAO,MATERIAIS.FATOR_CONVERSAO,GETDATE(),4,0,1,@MATERIAL,@COR_MATERIAL,
					MODIFICACAO_FT_MATERIAL.ALTERACAO_CONSUMO,0        
     		FROM  	MATERIAIS , MATERIAIS_CORES,MODIFICACAO_FT_MATERIAL          
     		WHERE 	MODIFICACAO_FT_MATERIAL.MATERIAL=MATERIAIS.MATERIAL  AND           
       				MODIFICACAO_FT_MATERIAL.ITEM = @ITEM AND
       				MODIFICACAO_FT_MATERIAL.ID_MODIFICACAO = @ID_MODIFICACAO AND               
       				MODIFICACAO_FT_MATERIAL.MATERIAL=MATERIAIS_CORES.MATERIAL AND          
       				MODIFICACAO_FT_MATERIAL.COR_MATERIAL=MATERIAIS_CORES.COR_MATERIAL AND         
                    TIPO_MODIFICACAO IN ('S') AND 
					MATERIAIS.RESERVA_MATERIAL_OP = 0             
   		END        

		-- ATUALIZACAO DE MATERIAL SUBSTITUTO
		-- INCLUIDO EM 11/05/05 POR SZALONTAI
		-- CASO TIVER SUBSTITUICAO EM UM MATERIAL QUE JA EXISTA, ELE É ATUALIZADO PARA O TIPO_RESEVA =4
	    IF  (SELECT COUNT(*) FROM #CURSOR_RESERVA INNER JOIN           
	        (SELECT * FROM MODIFICACAO_FT_MATERIAL           
	             WHERE ITEM=@ITEM AND  ID_MODIFICACAO = @ID_MODIFICACAO AND TIPO_MODIFICACAO = 'S') AS A           
	             ON #CURSOR_RESERVA.MATERIAL = A.MATERIAL AND #CURSOR_RESERVA.COR_MATERIAL= A.COR_MATERIAL)<>0          
	    BEGIN          
			UPDATE #CURSOR_RESERVA SET 
	     	DATA_RESERVA = GETDATE(),
			TIPO_RESERVA= 4,
			MATERIAL_MODIFICADO=@MATERIAL ,  
	     	COR_MATERIAL_MODIFICADO=@COR_MATERIAL,
			ALTERACAO_CONSUMO=MODIFICACAO_FT_MATERIAL.ALTERACAO_CONSUMO,
			CONTROLE=0           
	       FROM		MATERIAIS , MATERIAIS_CORES,MODIFICACAO_FT_MATERIAL            
	       WHERE	#CURSOR_RESERVA.MATERIAL = MODIFICACAO_FT_MATERIAL.MATERIAL AND #CURSOR_RESERVA.COR_MATERIAL= MODIFICACAO_FT_MATERIAL.COR_MATERIAL AND
					MODIFICACAO_FT_MATERIAL.MATERIAL=MATERIAIS.MATERIAL  AND             
					MODIFICACAO_FT_MATERIAL.ITEM=@ITEM AND            
					MODIFICACAO_FT_MATERIAL.ID_MODIFICACAO = @ID_MODIFICACAO AND                 
					MODIFICACAO_FT_MATERIAL.MATERIAL=MATERIAIS_CORES.MATERIAL AND            
					MODIFICACAO_FT_MATERIAL.COR_MATERIAL=MATERIAIS_CORES.COR_MATERIAL AND           
					TIPO_MODIFICACAO IN ('S') AND 
					MATERIAIS.RESERVA_MATERIAL_OP = 0             
	          
	    
	    END                  

  		-- ATUALIZACAO DO MATERIAL SUBSTITUTO POR EXCLUSAO        
        
  		UPDATE 	#CURSOR_RESERVA SET TIPO_RESERVA = 7 ,        
           		RESERVA_ORIGINAL = 0,         
           		RESERVA = 0        
  		FROM	(SELECT * FROM MODIFICACAO_FT_MATERIAL         
        		WHERE 	ITEM=@ITEM AND ID_MODIFICACAO = @ID_MODIFICACAO AND TIPO_MODIFICACAO = 'E')  A        
		WHERE	#CURSOR_RESERVA.MATERIAL = A.MATERIAL AND 
				#CURSOR_RESERVA.COR_MATERIAL= A.COR_MATERIAL        
        
  		-- ATUALIZACAO DO MATERIAL SUBSTITUTO POR ALTERACAO        
        
  		UPDATE 	#CURSOR_RESERVA SET TIPO_RESERVA = 6 ,        
           		RESERVA_ORIGINAL = 0, RESERVA =  0,         
           		DIFERENCA_PREVISAO = CASE WHEN RESERVA_ORIGINAL - CONSUMIDA < 0 OR MATAR_SALDO_RESERVA =1 
										  THEN RESERVA_ORIGINAL - CONSUMIDA 
										  ELSE 0 END,
				CONTROLE = 1        
  		FROM 	(SELECT * FROM MODIFICACAO_FT_MATERIAL         
        		WHERE ITEM=@ITEM AND ID_MODIFICACAO = @ID_MODIFICACAO AND TIPO_MODIFICACAO = 'A')  A        
	  	WHERE  	#CURSOR_RESERVA.MATERIAL = A.MATERIAL AND 
				#CURSOR_RESERVA.COR_MATERIAL= A.COR_MATERIAL AND 
				CONTROLE = 0        
        
  		-- CALCULO E ATUALIZACAO DA RESERVA SUBSTITUTA E ALTERADA        
        
  		SELECT @RESERVA_ORIGINAL_REAL = @RESERVA_ORIGINAL        

  		SELECT 	@RESERVA_ORIGINAL = @RESERVA_ORIGINAL + (@RESERVA_ORIGINAL*A.ALTERACAO_CONSUMO/100)        
        FROM 	MODIFICACAO_FT_MATERIAL A        
        WHERE 	ITEM= @ITEM AND ID_MODIFICACAO = @ID_MODIFICACAO AND TIPO_MODIFICACAO IN ('S')        

  		SELECT --@RESERVA_ORIGINAL = @RESERVA_ORIGINAL /(CASE WHEN A.FATOR_CONVERSAO=0 THEN 1 ELSE A.FATOR_CONVERSAO END ),        
      			@RESERVA_ORIGINAL_REAL = @RESERVA_ORIGINAL_REAL /(CASE WHEN A.FATOR_CONVERSAO=0 THEN 1 ELSE A.FATOR_CONVERSAO END )        
  		FROM 	MODIFICACAO_FT_MATERIAL         
    	INNER 	JOIN MATERIAIS A ON MODIFICACAO_FT_MATERIAL.MATERIAL_MODIFICADO=A.MATERIAL          
        WHERE 	ITEM=@ITEM AND ID_MODIFICACAO = @ID_MODIFICACAO AND TIPO_MODIFICACAO IN ('S','A')        
        
  		SELECT 	@RESERVA = CASE WHEN @RESERVA_ORIGINAL- CONSUMIDA>0 AND MATAR_SALDO_RESERVA = 0 THEN @RESERVA_ORIGINAL- CONSUMIDA ELSE 0 END,        
      			@RESERVA_REAL = CASE WHEN @RESERVA_ORIGINAL_REAL- CONSUMIDA>0 AND MATAR_SALDO_RESERVA = 0 THEN @RESERVA_ORIGINAL_REAL- CONSUMIDA ELSE 0 END        
  		FROM  	#CURSOR_RESERVA  JOIN         
    			(SELECT * FROM MODIFICACAO_FT_MATERIAL         
             	 WHERE 	ID_MODIFICACAO = @ID_MODIFICACAO AND ITEM=@ITEM AND TIPO_MODIFICACAO IN ('S','A')) AS A        
  		ON  #CURSOR_RESERVA.MATERIAL = A.MATERIAL AND #CURSOR_RESERVA.COR_MATERIAL= A.COR_MATERIAL        
        
  		UPDATE 	#CURSOR_RESERVA SET  RESERVA_ORIGINAL = RESERVA_ORIGINAL + @RESERVA_ORIGINAL,         
         		RESERVA = RESERVA + @RESERVA,         
         		DIFERENCA_PREVISAO = CASE WHEN RESERVA_ORIGINAL - CONSUMIDA < 0 OR MATAR_SALDO_RESERVA =1 THEN RESERVA_ORIGINAL - CONSUMIDA ELSE 0 END        
  		FROM  	(SELECT * FROM MODIFICACAO_FT_MATERIAL         
             	WHERE 	ID_MODIFICACAO = @ID_MODIFICACAO AND  ITEM=@ITEM AND TIPO_MODIFICACAO IN ('S')) AS A        
  		WHERE 	#CURSOR_RESERVA.MATERIAL = A.MATERIAL AND #CURSOR_RESERVA.COR_MATERIAL= A.COR_MATERIAL        
  
      
  		UPDATE 	#CURSOR_RESERVA SET  RESERVA_ORIGINAL = RESERVA_ORIGINAL+@RESERVA_ORIGINAL,         
         		RESERVA =  RESERVA+@RESERVA,         
         		DIFERENCA_PREVISAO = CASE WHEN RESERVA_ORIGINAL - CONSUMIDA < 0 OR MATAR_SALDO_RESERVA =1 THEN RESERVA_ORIGINAL - CONSUMIDA ELSE 0 END        
  		FROM  	(SELECT * FROM MODIFICACAO_FT_MATERIAL         
             	WHERE 	ITEM = @ITEM AND  ID_MODIFICACAO = @ID_MODIFICACAO AND TIPO_MODIFICACAO IN ('A')) AS A        
  		WHERE 	#CURSOR_RESERVA.MATERIAL = A.MATERIAL AND #CURSOR_RESERVA.COR_MATERIAL= A.COR_MATERIAL        
        
  		UPDATE 	#CURSOR_RESERVA SET RESERVA_ORIGINAL = RESERVA_ORIGINAL-@RESERVA_ORIGINAL_REAL,        
          		RESERVA = RESERVA-@RESERVA_REAL        
  		FROM  	(SELECT * FROM MODIFICACAO_FT_MATERIAL         
             	WHERE 	ITEM=@ITEM AND  ID_MODIFICACAO = @ID_MODIFICACAO AND TIPO_MODIFICACAO ='S') AS A        
  		WHERE 	#CURSOR_RESERVA.MATERIAL = A.MATERIAL_MODIFICADO AND #CURSOR_RESERVA.COR_MATERIAL= A.COR_MATERIAL_MODIFICADO        

  		FETCH NEXT FROM CUR_CLIENTE INTO @ID_MODIFICACAO,@MATERIAL,@COR_MATERIAL,@COR_PRODUTO,@RESERVA_ORIGINAL,@ITEM,@TIPO_MODIFICACAO
        
 	END --@@FETCH_STATUS = 0 -- CUR_CLIENTE         
    
 	CLOSE CUR_CLIENTE     
 	DEALLOCATE CUR_CLIENTE     
    
 	UPDATE 	#CURSOR_RESERVA SET CONSUMIDA= A.CONSUMIDA     
 	FROM 	PRODUCAO_RESERVA A     
 	WHERE 	#CURSOR_RESERVA.MATERIAL = A.MATERIAL AND    
    		#CURSOR_RESERVA.COR_MATERIAL = A.COR_MATERIAL AND    
    		A.ORDEM_PRODUCAO = @ORDEM_PRODUCAO    
    
	UPDATE 	#CURSOR_RESERVA SET    
 			RESERVA = CASE WHEN RESERVA_ORIGINAL - CONSUMIDA > 0 AND MATAR_SALDO_RESERVA = 0 THEN RESERVA_ORIGINAL - CONSUMIDA ELSE 0 END,    
 			DIFERENCA_PREVISAO = CASE WHEN RESERVA_ORIGINAL - CONSUMIDA < 0 OR MATAR_SALDO_RESERVA = 1 THEN RESERVA_ORIGINAL - CONSUMIDA ELSE 0 END    

----------------------------------------------------------
-- ADICIONADO EM 20/07/07 POR  SZALONTAI 
-- ATUALIZA A DATA DA RESERVA
----------------------------------------------------------
	UPDATE #CURSOR_RESERVA SET DATA_RESERVA = INICIO_PREVISTO
	FROM PRODUCAO_TAREFAS 
	WHERE	#CURSOR_RESERVA.FASE_PRODUCAO = PRODUCAO_TAREFAS.FASE_PRODUCAO AND 
			#CURSOR_RESERVA.SETOR_PRODUCAO = PRODUCAO_TAREFAS.SETOR_PRODUCAO AND 
			#CURSOR_RESERVA.ORDEM_PRODUCAO = PRODUCAO_TAREFAS.ORDEM_PRODUCAO
----------------------------------------------------------

 	IF (SELECT COUNT(*) FROM #CURSOR_RESERVA) >0 AND @MOSTRA IS NULL    
 	BEGIN    
    
	    DELETE	PRODUCAO_RESERVA WHERE ORDEM_PRODUCAO = @ORDEM_PRODUCAO       
				----------------------------------------------------------
				-- ADICIONADO EM 26/11/07 POR  SZALONTAI 
				-- PARA ATUALIZAR SOMENTE OS MATERIAIS QUE SOFRERAM 
				-- ALTERAÇÃO
				----------------------------------------------------------
				AND 
				( 
				LTRIM(RTRIM(MATERIAL))+LTRIM(RTRIM(COR_MATERIAL)) IN 
				(	
					SELECT  LTRIM(RTRIM(MATERIAL))+LTRIM(RTRIM(COR_MATERIAL))
					FROM	#CURSOR_RESERVA
				)
				----------------------------------------------------------
				-- Adicionado por Fabiano Banin em 19/01/2010
				-- Exclui também os que são da ficha técnica, para o caso
				-- do produto ter sido excluido da ficha técnica
				----------------------------------------------------------
				OR PRODUCAO_RESERVA.TIPO_RESERVA = 1
				)
    
	  	IF @TIPO_PROCESSO = 1 OR @TIPO_PROCESSO = 2    
	  	BEGIN    
	    
	  	    IF (SELECT OBJECT_ID('TEMPDB..#CUR_FASES_OP')) IS NULL 
            BEGIN        	  	
	        
	   		    INSERT INTO PRODUCAO_RESERVA (MATERIAL,COR_MATERIAL,ORDEM_PRODUCAO,RESERVA,CONSUMIDA,        
		            	    DATA_RESERVA,RESERVA_ORIGINAL,ULTIMA_SAIDA,DIFERENCA_PREVISAO,    
		            	    FATOR_CONVERSAO_NA_RESERVA,MATAR_SALDO_RESERVA,            
		            	    MATERIAL_SUBSTITUIDO,COR_MATERIAL_SUBSTITUIDO,TIPO_RESERVA)    
		   	    SELECT 	MATERIAL,COR_MATERIAL,ORDEM_PRODUCAO,RESERVA,CONSUMIDA,        
		           	    DATA_RESERVA,RESERVA_ORIGINAL,ULTIMA_SAIDA,DIFERENCA_PREVISAO,    
		           	    FATOR_CONVERSAO_NA_RESERVA,MATAR_SALDO_RESERVA,            
		           	    MATERIAL_MODIFICADO,COR_MATERIAL_MODIFICADO,TIPO_RESERVA    
		   	    FROM 	#CURSOR_RESERVA 
			    WHERE 	FASE_PRODUCAO IN (SELECT DISTINCT FASE_PRODUCAO FROM  PRODUCAO_TAREFAS WHERE ORDEM_PRODUCAO = @ORDEM_PRODUCAO )    

			END
            ELSE
            BEGIN

	   		    INSERT INTO PRODUCAO_RESERVA (MATERIAL,COR_MATERIAL,ORDEM_PRODUCAO,RESERVA,CONSUMIDA,        
		            	    DATA_RESERVA,RESERVA_ORIGINAL,ULTIMA_SAIDA,DIFERENCA_PREVISAO,    
		            	    FATOR_CONVERSAO_NA_RESERVA,MATAR_SALDO_RESERVA,            
		            	    MATERIAL_SUBSTITUIDO,COR_MATERIAL_SUBSTITUIDO,TIPO_RESERVA)    
		   	    SELECT 	MATERIAL,COR_MATERIAL,ORDEM_PRODUCAO,RESERVA,CONSUMIDA,        
		           	    DATA_RESERVA,RESERVA_ORIGINAL,ULTIMA_SAIDA,DIFERENCA_PREVISAO,    
		           	    FATOR_CONVERSAO_NA_RESERVA,MATAR_SALDO_RESERVA,            
		           	    MATERIAL_MODIFICADO,COR_MATERIAL_MODIFICADO,TIPO_RESERVA    
		   	    FROM 	#CURSOR_RESERVA 
			    WHERE 	FASE_PRODUCAO IN (SELECT DISTINCT FASE_PRODUCAO FROM  #CUR_FASES_OP )    
            
            END	       
	    
		END        
	  	ELSE    
	    BEGIN    
	    
	   		INSERT INTO PRODUCAO_RESERVA (MATERIAL,COR_MATERIAL,ORDEM_PRODUCAO,RESERVA,CONSUMIDA,        
	            		DATA_RESERVA,RESERVA_ORIGINAL,ULTIMA_SAIDA,DIFERENCA_PREVISAO,    
	            		FATOR_CONVERSAO_NA_RESERVA,MATAR_SALDO_RESERVA,            
	            		MATERIAL_SUBSTITUIDO,COR_MATERIAL_SUBSTITUIDO,TIPO_RESERVA)   
	   		SELECT 	MATERIAL,COR_MATERIAL,ORDEM_PRODUCAO,RESERVA,CONSUMIDA,        
	            	DATA_RESERVA,RESERVA_ORIGINAL,ULTIMA_SAIDA,DIFERENCA_PREVISAO,    
	            	FATOR_CONVERSAO_NA_RESERVA,MATAR_SALDO_RESERVA,            
	            	MATERIAL_MODIFICADO,COR_MATERIAL_MODIFICADO,TIPO_RESERVA    
	   		FROM #CURSOR_RESERVA     

	  	END    
	  	EXECUTE LX_EXCLUI_MATERIAL_POR_RECURSO @ORDEM_PRODUCAO=@ORDEM_PRODUCAO,@MOSTRA='N'        

	END    
    
	IF @MOSTRA IS NOT NULL    
	BEGIN    
	  	IF @TIPO_PROCESSO = 1 OR @TIPO_PROCESSO = 2   
	  	BEGIN 

	  	    IF (SELECT OBJECT_ID('TEMPDB..#CUR_FASES_OP')) IS NULL 
            BEGIN        	  	

			    SELECT	A.MATERIAL,A.COR_MATERIAL,A.ORDEM_PRODUCAO,A.RESERVA_ORIGINAL,A.CONSUMIDA,A.RESERVA,
					    A.DATA_RESERVA,A.ULTIMA_SAIDA,A.DIFERENCA_PREVISAO,A.FATOR_CONVERSAO_NA_RESERVA,
					    A.MATAR_SALDO_RESERVA,ISNULL(A.DESC_COR_MATERIAL,C.DESC_COR_MATERIAL) AS DESC_COR_MATERIAL,
					    A.REFER_FABRICANTE,A.FASE_PRODUCAO,ISNULL(A.DESC_FASE_PRODUCAO,D.DESC_FASE_PRODUCAO) AS DESC_FASE_PRODUCAO,
					    A.SETOR_PRODUCAO,ISNULL(A.DESC_SETOR_PRODUCAO,E.DESC_SETOR_PRODUCAO) AS DESC_SETOR_PRODUCAO,
					    ISNULL(A.DESC_MATERIAL,B.DESC_MATERIAL) AS DESC_MATERIAL,ISNULL(A.FATOR_CONVERSAO,B.FATOR_CONVERSAO) AS FATOR_CONVERSAO,
					    ISNULL(A.UNID_ESTOQUE,B.UNID_ESTOQUE) AS UNID_ESTOQUE,ISNULL(A.UNID_FICHA_TEC,B.UNID_FICHA_TEC) AS UNID_FICHA_TEC,
					    ISNULL(A.RESERVA_MATERIAL_OP,B.RESERVA_MATERIAL_OP) AS RESERVA_MATERIAL_OP,ISNULL(A.MATERIAL_INDIRETO,B.MATERIAL_INDIRETO) AS MATERIAL_INDIRETO,
					    ISNULL(A.ABATER_RESERVA_QTDE,B.ABATER_RESERVA_QTDE) AS ABATER_RESERVA_QTDE,ISNULL(A.PROXIMA_ENTREGA,GETDATE()) AS PROXIMA_ENTREGA,
					    A.MATERIAL_MODIFICADO,A.COR_MATERIAL_MODIFICADO,A.PRIORIDADE_SUBSTITUICAO,A.ALTERACAO_CONSUMO,A.SUBSTITUICAO_POR_PRODUTO,
					    ISNULL(A.GRUPO,B.GRUPO) AS GRUPO,ISNULL(A.SUBGRUPO,B.SUBGRUPO) AS SUBGRUPO ,A.SUBSTITUICAO_POR_CLIENTE,A.TIPO_RESERVA,A.CONTROLE
			    FROM #CURSOR_RESERVA A
			    INNER JOIN MATERIAIS B ON A.MATERIAL = B.MATERIAL
			    INNER JOIN MATERIAIS_CORES C ON A.MATERIAL = C.MATERIAL AND A.COR_MATERIAL = C.COR_MATERIAL
			    INNER JOIN PRODUCAO_FASE D ON A.FASE_PRODUCAO = D.FASE_PRODUCAO
			    INNER JOIN PRODUCAO_SETOR E ON A.FASE_PRODUCAO = E.FASE_PRODUCAO AND A.SETOR_PRODUCAO = E.SETOR_PRODUCAO			
			    WHERE A.FASE_PRODUCAO IN (SELECT DISTINCT FASE_PRODUCAO FROM  PRODUCAO_TAREFAS WHERE ORDEM_PRODUCAO = @ORDEM_PRODUCAO )    
			    ORDER BY A.MATERIAL,A.COR_MATERIAL
			    
			END
			ELSE
			BEGIN

			    SELECT	A.MATERIAL,A.COR_MATERIAL,A.ORDEM_PRODUCAO,A.RESERVA_ORIGINAL,A.CONSUMIDA,A.RESERVA,
					    A.DATA_RESERVA,A.ULTIMA_SAIDA,A.DIFERENCA_PREVISAO,A.FATOR_CONVERSAO_NA_RESERVA,
					    A.MATAR_SALDO_RESERVA,ISNULL(A.DESC_COR_MATERIAL,C.DESC_COR_MATERIAL) AS DESC_COR_MATERIAL,
					    A.REFER_FABRICANTE,A.FASE_PRODUCAO,ISNULL(A.DESC_FASE_PRODUCAO,D.DESC_FASE_PRODUCAO) AS DESC_FASE_PRODUCAO,
					    A.SETOR_PRODUCAO,ISNULL(A.DESC_SETOR_PRODUCAO,E.DESC_SETOR_PRODUCAO) AS DESC_SETOR_PRODUCAO,
					    ISNULL(A.DESC_MATERIAL,B.DESC_MATERIAL) AS DESC_MATERIAL,ISNULL(A.FATOR_CONVERSAO,B.FATOR_CONVERSAO) AS FATOR_CONVERSAO,
					    ISNULL(A.UNID_ESTOQUE,B.UNID_ESTOQUE) AS UNID_ESTOQUE,ISNULL(A.UNID_FICHA_TEC,B.UNID_FICHA_TEC) AS UNID_FICHA_TEC,
					    ISNULL(A.RESERVA_MATERIAL_OP,B.RESERVA_MATERIAL_OP) AS RESERVA_MATERIAL_OP,ISNULL(A.MATERIAL_INDIRETO,B.MATERIAL_INDIRETO) AS MATERIAL_INDIRETO,
					    ISNULL(A.ABATER_RESERVA_QTDE,B.ABATER_RESERVA_QTDE) AS ABATER_RESERVA_QTDE,ISNULL(A.PROXIMA_ENTREGA,GETDATE()) AS PROXIMA_ENTREGA,
					    A.MATERIAL_MODIFICADO,A.COR_MATERIAL_MODIFICADO,A.PRIORIDADE_SUBSTITUICAO,A.ALTERACAO_CONSUMO,A.SUBSTITUICAO_POR_PRODUTO,
					    ISNULL(A.GRUPO,B.GRUPO) AS GRUPO,ISNULL(A.SUBGRUPO,B.SUBGRUPO) AS SUBGRUPO ,A.SUBSTITUICAO_POR_CLIENTE,A.TIPO_RESERVA,A.CONTROLE
			    FROM #CURSOR_RESERVA A
			    INNER JOIN MATERIAIS B ON A.MATERIAL = B.MATERIAL
			    INNER JOIN MATERIAIS_CORES C ON A.MATERIAL = C.MATERIAL AND A.COR_MATERIAL = C.COR_MATERIAL
			    INNER JOIN PRODUCAO_FASE D ON A.FASE_PRODUCAO = D.FASE_PRODUCAO
			    INNER JOIN PRODUCAO_SETOR E ON A.FASE_PRODUCAO = E.FASE_PRODUCAO AND A.SETOR_PRODUCAO = E.SETOR_PRODUCAO			
			    WHERE A.FASE_PRODUCAO IN (SELECT DISTINCT FASE_PRODUCAO FROM  #CUR_FASES_OP )    
			    ORDER BY A.MATERIAL,A.COR_MATERIAL
			
			END

        END
  		ELSE    
			SELECT	A.MATERIAL,A.COR_MATERIAL,A.ORDEM_PRODUCAO,A.RESERVA_ORIGINAL,A.CONSUMIDA,A.RESERVA,
					A.DATA_RESERVA,A.ULTIMA_SAIDA,A.DIFERENCA_PREVISAO,A.FATOR_CONVERSAO_NA_RESERVA,
					A.MATAR_SALDO_RESERVA,ISNULL(A.DESC_COR_MATERIAL,C.DESC_COR_MATERIAL) AS DESC_COR_MATERIAL,
					A.REFER_FABRICANTE,A.FASE_PRODUCAO,ISNULL(A.DESC_FASE_PRODUCAO,D.DESC_FASE_PRODUCAO) AS DESC_FASE_PRODUCAO,
					A.SETOR_PRODUCAO,ISNULL(A.DESC_SETOR_PRODUCAO,E.DESC_SETOR_PRODUCAO) AS DESC_SETOR_PRODUCAO,
					ISNULL(A.DESC_MATERIAL,B.DESC_MATERIAL) AS DESC_MATERIAL,ISNULL(A.FATOR_CONVERSAO,B.FATOR_CONVERSAO) AS FATOR_CONVERSAO,
					ISNULL(A.UNID_ESTOQUE,B.UNID_ESTOQUE) AS UNID_ESTOQUE,ISNULL(A.UNID_FICHA_TEC,B.UNID_FICHA_TEC) AS UNID_FICHA_TEC,
					ISNULL(A.RESERVA_MATERIAL_OP,B.RESERVA_MATERIAL_OP) AS RESERVA_MATERIAL_OP,ISNULL(A.MATERIAL_INDIRETO,B.MATERIAL_INDIRETO) AS MATERIAL_INDIRETO,
					ISNULL(A.ABATER_RESERVA_QTDE,B.ABATER_RESERVA_QTDE) AS ABATER_RESERVA_QTDE,ISNULL(A.PROXIMA_ENTREGA,GETDATE()) AS PROXIMA_ENTREGA,
					A.MATERIAL_MODIFICADO,A.COR_MATERIAL_MODIFICADO,A.PRIORIDADE_SUBSTITUICAO,A.ALTERACAO_CONSUMO,A.SUBSTITUICAO_POR_PRODUTO,
					ISNULL(A.GRUPO,B.GRUPO) AS GRUPO,ISNULL(A.SUBGRUPO,B.SUBGRUPO) AS SUBGRUPO ,A.SUBSTITUICAO_POR_CLIENTE,A.TIPO_RESERVA,A.CONTROLE
			FROM #CURSOR_RESERVA A
			INNER JOIN MATERIAIS B ON A.MATERIAL = B.MATERIAL
			INNER JOIN MATERIAIS_CORES C ON A.MATERIAL = C.MATERIAL AND A.COR_MATERIAL = C.COR_MATERIAL
			INNER JOIN PRODUCAO_FASE D ON A.FASE_PRODUCAO = D.FASE_PRODUCAO
			INNER JOIN PRODUCAO_SETOR E ON A.FASE_PRODUCAO = E.FASE_PRODUCAO AND A.SETOR_PRODUCAO = E.SETOR_PRODUCAO
			ORDER BY A.MATERIAL,A.COR_MATERIAL

  
		EXECUTE LX_EXCLUI_MATERIAL_POR_RECURSO @ORDEM_PRODUCAO=@ORDEM_PRODUCAO,@MOSTRA='S'    
   	END    
	FETCH NEXT FROM CUR_PRODUCAO_ORDEM INTO @ORDEM_PRODUCAO,@TIPO_PROCESSO
    
END -- @@FETCH_STATUS = 0 -- CUR_PRODUCAO_ORDEM    
    
CLOSE CUR_PRODUCAO_ORDEM    
DEALLOCATE CUR_PRODUCAO_ORDEM    
    
DROP TABLE #CURSOR_RESERVA    
    
SET NOCOUNT OFF    



DECLARE    
@COR_PRODUTO CHAR(10) = 'PT0124',    
@ORDEM_PRODUCAO CHAR(8) = '51509',    
@CONSUMIDO NUMERIC(12,5),    
@CONSUMIDO_NEW NUMERIC(12,5),    
@CONSUMIDO_ABS NUMERIC(12,5),    
@CONSUMIDO_ALT NUMERIC(12,5),    
@FATOR_CONVERSAO_NA_RESERVA NUMERIC(12,5),    
@CLIENTE_ATACADO VARCHAR(25),    
@MATERIAL  CHAR(11),    
@COR_MATERIAL CHAR(10),    
@MATERIAL_MODIFICADO  CHAR(11),    
@COR_MATERIAL_MODIFICADO CHAR(10),    
@PORCENTAGEM_CONSUMO NUMERIC(12,5),    
@ALTERACAO_CONSUMO REAL,    
@RESERVA NUMERIC(12,5),    
@RESERVA_REAL NUMERIC(12,5),    
@RESERVA_ORIGINAL NUMERIC(12,5),    
@RESERVA_ORIGINAL_REAL NUMERIC(12,5),    
@PEDIDO CHAR(12),    
@CODIGO_LOCAL_ENTREGA CHAR(5),    
@TIPO_PROCESSO TINYINT,    
@FASE_PRODUCAO VARCHAR(25),    
@SETOR_PRODUCAO VARCHAR(25),    
@ID_MODIFICACAO CHAR(6),    
@XPRI INT,
@ITEM SMALLINT,      
@XPRODUTO CHAR(12) = '54908',        
@O1  INT, @O2  INT, @O3  INT, @O4  INT, @O5  INT, @O6  INT, @O7  INT, @O8  INT, @O9  INT, @O10 INT, @O11 INT, @O12 INT, @O13 INT, @O14 INT, @O15 INT, @O16 INT,     
@O17 INT, @O18 INT, @O19 INT, @O20 INT, @O21 INT, @O22 INT, @O23 INT, @O24 INT, @O25 INT, @O26 INT, @O27 INT, @O28 INT, @O29 INT, @O30 INT, @O31 INT, @O32 INT,     
@O33 INT, @O34 INT, @O35 INT, @O36 INT, @O37 INT, @O38 INT, @O39 INT, @O40 INT, @O41 INT, @O42 INT, @O43 INT, @O44 INT, @O45 INT, @O46 INT, @O47 INT, @O48 INT,
@TIPO_MODIFICACAO CHAR(1)    


		SELECT  PRODUTOS_FICHA.MATERIAL, PRODUTOS_FICHA_COR.COR_MATERIAL,MATERIAIS.FATOR_CONVERSAO,     
			    PRODUTOS_FICHA.C1 *@O1 +PRODUTOS_FICHA.C2 *@O2 +PRODUTOS_FICHA.C3 *@O3 +PRODUTOS_FICHA.C4 *@O4+    
			    PRODUTOS_FICHA.C5 *@O5 +PRODUTOS_FICHA.C6 *@O6 +PRODUTOS_FICHA.C7 *@O7 +PRODUTOS_FICHA.C8 *@O8+    
			    PRODUTOS_FICHA.C9 *@O9 +PRODUTOS_FICHA.C10*@O10+PRODUTOS_FICHA.C11*@O11+PRODUTOS_FICHA.C12*@O12+    
			    PRODUTOS_FICHA.C13*@O13+PRODUTOS_FICHA.C14*@O14+PRODUTOS_FICHA.C15*@O15+PRODUTOS_FICHA.C16*@O16+    
			    PRODUTOS_FICHA.C17*@O17+PRODUTOS_FICHA.C18*@O18+PRODUTOS_FICHA.C19*@O19+PRODUTOS_FICHA.C20*@O20+    
			    PRODUTOS_FICHA.C21*@O21+PRODUTOS_FICHA.C22*@O22+PRODUTOS_FICHA.C23*@O23+PRODUTOS_FICHA.C24*@O24+    
			    PRODUTOS_FICHA.C25*@O25+PRODUTOS_FICHA.C26*@O26+PRODUTOS_FICHA.C27*@O27+PRODUTOS_FICHA.C28*@O28+    
			    PRODUTOS_FICHA.C29*@O29+PRODUTOS_FICHA.C30*@O30+PRODUTOS_FICHA.C31*@O31+PRODUTOS_FICHA.C32*@O32+    
			    PRODUTOS_FICHA.C33*@O33+PRODUTOS_FICHA.C34*@O34+PRODUTOS_FICHA.C35*@O35+PRODUTOS_FICHA.C36*@O36+    
			    PRODUTOS_FICHA.C37*@O37+PRODUTOS_FICHA.C38*@O38+PRODUTOS_FICHA.C39*@O39+PRODUTOS_FICHA.C40*@O40+    
			    PRODUTOS_FICHA.C41*@O41+PRODUTOS_FICHA.C42*@O42+PRODUTOS_FICHA.C43*@O43+PRODUTOS_FICHA.C44*@O44+    
			    PRODUTOS_FICHA.C45*@O45+PRODUTOS_FICHA.C46*@O46+PRODUTOS_FICHA.C47*@O47+PRODUTOS_FICHA.C48*@O48,    
			    PRODUTOS_FICHA_COR.PORCENTAGEM_CONSUMO,    
			    PRODUTOS_FICHA.FASE_PRODUCAO,PRODUTOS_FICHA.SETOR_PRODUCAO    
		FROM  	PRODUTOS_FICHA, PRODUTOS_FICHA_COR, MATERIAIS, MATERIAIS_CORES    	
		WHERE  	PRODUTOS_FICHA.PRODUTO=PRODUTOS_FICHA_COR.PRODUTO AND     
			    PRODUTOS_FICHA.MATERIAL = PRODUTOS_FICHA_COR.MATERIAL AND     
			    PRODUTOS_FICHA.ITEM = PRODUTOS_FICHA_COR.ITEM AND     
			    MATERIAIS.MATERIAL = PRODUTOS_FICHA.MATERIAL  AND     
			    MATERIAIS.RESERVA_MATERIAL_OP = 0 AND     
			    MATERIAIS_CORES.MATERIAL = MATERIAIS.MATERIAL AND     
			    MATERIAIS_CORES.COR_MATERIAL = PRODUTOS_FICHA_COR.COR_MATERIAL AND     
			    PRODUTOS_FICHA.PRODUTO = @XPRODUTO AND     
			    PRODUTOS_FICHA_COR.COR_PRODUTO = @COR_PRODUTO    
 		ORDER BY PRODUTOS_FICHA_COR.PRODUTO,PRODUTOS_FICHA_COR.COR_PRODUTO
 		
 		
select * from PRODUTOS_FICHA 
where PRODUTO='1233'
		
select * from PRODUTOS_FICHA_COR
where PRODUTO='1233'


 		DECLARE CUR_PRODUCAO_ORDEM_COR CURSOR FOR     
 		SELECT  PRODUTO,COR_PRODUTO,O1  , O2  , O3  , O4  , O5  , O6  , O7  , O8  , O9  , O10 , O11 , O12 , 
				O13 , O14 , O15 , O16 , O17 , O18 , O19 , O20 , O21 , O22 , O23 , O24 , O25 , O26 , 
				O27 , O28 , O29 , O30 , O31 , O32 , O33 , O34 , O35 , O36 , O37 , O38 , O39 , O40 , 
				O41 , O42 , O43 , O44 , O45 , O46 , O47 , O48     
 		FROM PRODUCAO_ORDEM_COR    
 		WHERE	ORDEM_PRODUCAO='51509'
 		
		