ALTER PROCEDURE [dbo].[SP_ORDEM_PRODUCAO_MATERIAIS_DISPONIVEIS_GO_VAREJO] AS 

--- gera tabela temporaria #ORDEM_PRODUCAO_NA_FASE_PCP
TRUNCATE TABLE ORDEM_PRODUCAO_NA_FASE_PCP_GO_VAREJO

INSERT INTO ORDEM_PRODUCAO_NA_FASE_PCP_GO_VAREJO
SELECT PT.ORDEM_PRODUCAO,poc.QTDE_O,PT.FASE_PRODUCAO,PT.SETOR_PRODUCAO,POC.PRODUTO,POC.COR_PRODUTO,GRUPOS.RECURSO_PRODUTIVO 
FROM PRODUCAO_TAREFAS PT with (nolock)  
JOIN PRODUCAO_ORDEM_COR POC WITH (NOLOCK) ON POC.ORDEM_PRODUCAO=PT.ORDEM_PRODUCAO
LEFT JOIN (SELECT ORDEM_PRODUCAO,RECURSO_PRODUTIVO FROM PRODUCAO_TAREFAS WITH (NOLOCK) 
WHERE FASE_PRODUCAO IN ('007','60','61','62','68')) AS GRUPOS ON GRUPOS.ORDEM_PRODUCAO = PT.ORDEM_PRODUCAO 
JOIN PRODUCAO_ORDEM PO WITH (NOLOCK) ON PO.ORDEM_PRODUCAO=PT.ORDEM_PRODUCAO AND PO.FILIAL IN ('DR VAREJO','D.R. LINGERIE')
WHERE FASE_PRODUCAO IN ('001','00') AND QTDE_EM_PROCESSO>0 


--- gera tabela temporaria #ORDEM_PRODUCAO_COM_PENDENCIAS
TRUNCATE TABLE ORDEM_PRODUCAO_COM_PENDENCIAS_GO_VAREJO

INSERT INTO ORDEM_PRODUCAO_COM_PENDENCIAS_GO_VAREJO
SELECT DISTINCT FINAL.ORDEM_PRODUCAO 
 FROM ( 
   SELECT A.ORDEM_PRODUCAO,A.MATERIAL,C.DESC_MATERIAL,A.COR_MATERIAL,A.RESERVA,C.GRUPO,C.SUBGRUPO,QTDE_ESTOQUE=ISNULL(D.QTDE_ESTOQUE,0),   
   CASE WHEN B.QTDE_DISPONIVEL IS NULL THEN ISNULL(D.QTDE_ESTOQUE,0) ELSE ISNULL(B.QTDE_DISPONIVEL,0) END AS QTDE_DISPONIVEL FROM PRODUCAO_RESERVA A WITH (NOLOCK)
   LEFT JOIN W_ESTOQUE_DISPONIVEL_MATERIAL B WITH (NOLOCK) ON B.MATERIAL=A.MATERIAL AND B.COR_MATERIAL=A.COR_MATERIAL   
   LEFT JOIN MATERIAIS C WITH (NOLOCK) ON C.MATERIAL=A.MATERIAL   
   LEFT JOIN ESTOQUE_MATERIAIS D WITH (NOLOCK) ON D.MATERIAL=A.MATERIAL AND D.COR_MATERIAL=A.COR_MATERIAL AND D.FILIAL IN('DR VAREJO','D.R. LINGERIE')   
        JOIN PRODUCAO_ORDEM E WITH (NOLOCK) ON E.ORDEM_PRODUCAO = A.ORDEM_PRODUCAO AND E.FILIAL IN('DR VAREJO','D.R. LINGERIE')
) AS FINAL  
LEFT JOIN (
   SELECT ORDEM_PRODUCAO,RECURSO_PRODUTIVO FROM PRODUCAO_TAREFAS WITH (NOLOCK)
   WHERE FASE_PRODUCAO IN('007','60','61','62','68')
) AS GRUPOS ON GRUPOS.ORDEM_PRODUCAO = FINAL.ORDEM_PRODUCAO 
JOIN (SELECT ORDEM_PRODUCAO FROM PRODUCAO_TAREFAS WITH (NOLOCK) WHERE FASE_PRODUCAO IN('001','00') AND QTDE_EM_PROCESSO>0) AS PT ON PT.ORDEM_PRODUCAO=FINAL.ORDEM_PRODUCAO
WHERE RESERVA>0 AND RESERVA>QTDE_DISPONIVEL AND FINAL.ORDEM_PRODUCAO NOT LIKE '%.%' AND 
MATERIAL NOT IN (SELECT DISTINCT A.MATERIAL FROM MATERIAIS A WITH (NOLOCK) JOIN MATERIAIS_CORES B WITH (NOLOCK) ON B.MATERIAL=A.MATERIAL 
WHERE GETDATE() NOT BETWEEN B.INICIO_VENDAS AND B.FIM_VENDAS) 
GROUP BY GRUPOS.RECURSO_PRODUTIVO,FINAL.ORDEM_PRODUCAO,MATERIAL,DESC_MATERIAL,COR_MATERIAL,QTDE_ESTOQUE,QTDE_DISPONIVEL 
