USE [DRLINGERIE]
GO
/****** Object:  UserDefinedFunction [dbo].[MEDIA_TEMPO_CRONOMETRADO_PROCESSO]    Script Date: 01/27/2016 10:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER FUNCTION [dbo].[MEDIA_TEMPO_CRONOMETRADO_PROCESSO] (@RECURSO_PRODUTIVO varchar(MAX))          
RETURNS decimal(5,3)
WITH EXECUTE AS CALLER          
AS          
BEGIN          
     DECLARE @Retorno decimal(5,3)
    
     SET @Retorno =  
        (
			SELECT ISNULL(SUM(PRODUTOS_TAB_OPERACOES.TEMPO_TOTAL*PRODUCAO_TAREFAS.QTDE_EM_PROCESSO)/SUM(PRODUCAO_TAREFAS.QTDE_EM_PROCESSO),0)
			FROM dbo.PRODUCAO_FASE PRODUCAO_FASE with (nolock), 
			dbo.PRODUCAO_RECURSOS PRODUCAO_RECURSOS with (nolock), 
			dbo.PRODUCAO_SETOR PRODUCAO_SETOR with (nolock), 
			dbo.PRODUCAO_TAREFAS PRODUCAO_TAREFAS with (nolock), 
			dbo.PRODUTOS PRODUTOS with (nolock), 
			dbo.PRODUCAO_ORDEM with (nolock),
			dbo.PRODUTOS_TAB_OPERACOES with (nolock)
			WHERE PRODUCAO_FASE.FASE_PRODUCAO = PRODUCAO_TAREFAS.FASE_PRODUCAO AND 
			PRODUCAO_FASE.FASE_PRODUCAO = PRODUCAO_SETOR.FASE_PRODUCAO AND 
			PRODUCAO_RECURSOS.RECURSO_PRODUTIVO = PRODUCAO_TAREFAS.RECURSO_PRODUTIVO AND 
			PRODUCAO_SETOR.SETOR_PRODUCAO = PRODUCAO_TAREFAS.SETOR_PRODUCAO AND 
			PRODUCAO_SETOR.FASE_PRODUCAO = PRODUCAO_TAREFAS.FASE_PRODUCAO AND 
			PRODUCAO_ORDEM.PRODUTO=PRODUTOS.PRODUTO AND
			PRODUCAO_ORDEM.ORDEM_PRODUCAO=PRODUCAO_TAREFAS.ORDEM_PRODUCAO AND
			PRODUTOS_TAB_OPERACOES.TABELA_OPERACOES=PRODUCAO_ORDEM.PRODUTO AND
			PRODUCAO_FASE.FASE_PRODUCAO IN('60','61','68','62') AND PRODUCAO_ORDEM.FILIAL='D.R. LINGERIE'
			AND PRODUCAO_RECURSOS.RECURSO_PRODUTIVO=RTRIM(@RECURSO_PRODUTIVO) AND PRODUCAO_TAREFAS.QTDE_EM_PROCESSO>0 
	)
			  
     RETURN(@Retorno)          
END;           




SELECT * FROM ESTOQUE_SAI_MAT
WHERE NF_PENDENTE=0 AND NF_SAIDA IS NULL

exec sp_executesql N'
/* lx008019and  CursorAdapter: cur_v_produtos_tab_operacoes_00_operacoes(Alias: v_produtos_tab_operacoes_00_operacoes)  */
SELECT DISTINCT PRODUTOS_OPERACOES.OPERACAO,         PRODUTIV_OPERACOES.DESC_OPERACAO,         PRODUTOS_OPERACOES.TABELA_OPERACOES,         PRODUTOS_OPERACOES.SEQUENCIA,         
PRODUTOS_OPERACOES.OPERACAO_ANTERIOR,         PRODUTOS_OPERACOES.TEMPO_CRONOMETRADO,         PRODUTIV_OPERACOES.TEMPO_PREVISTO,         PRODUTIV_OPERACOES.TEMPO_FIXO,         
PRODUTOS_OPERACOES.TEMPO_CRONOM_FIXO,         PRODUTOS_OPERACOES.MEDIDA_COSTURA,         PRODUTOS_OPERACOES.PONTOS_POLEGADA,         PRODUTIV_OPERACOES.MAQUINA,         
PRODUTIV_OPERACOES.TIPO_OPERACAO,         PRODUTIV_OPER_TIPO.DESC_TIPO_OPERACAO,         PRODUTIV_MAQUINAS.DESC_MAQUINA,         PRODUTIV_MAQUINAS.TIPO_MAQUINA,         
PRODUTIV_MAQUINAS.QTDE_MAQUINAS,         PRODUTIV_MAQUINAS.PORCENTAGEM_INTERFERENCIA,         PRODUTIV_OPER_TIPO.BALANCEAR_OPERACAO,         CONVERT(NUMERIC(8,2),0) AS INDICE_TOLERANCIA,         
PRODUTIV_OPERACOES.FASE_PRODUCAO,         PRODUCAO_FASE.DESC_FASE_PRODUCAO,         PRODUTIV_OPERACOES.SETOR_PRODUCAO,         PRODUCAO_SETOR.DESC_SETOR_PRODUCAO,         
PRODUTIV_OPERACOES.PARTE_PRODUTO,         PRODUTOS_OPERACOES.TEMPO_CRONOMETRADO_2,         PRODUTOS_OPERACOES.TEMPO_CRONOMETRADO_3,    PRODUTOS_OPERACOES.TEMPO_CRONOMETRADO_4,    
PRODUTIV_OPERACOES.TEMPO_PREVISTO_2,    PRODUTIV_OPERACOES.TEMPO_PREVISTO_3,    PRODUTIV_OPERACOES.TEMPO_PREVISTO_4,    PRODUTOS_OPERACOES.MEDIDA_COSTURA_2,    PRODUTOS_OPERACOES.MEDIDA_COSTURA_3,    
PRODUTOS_OPERACOES.MEDIDA_COSTURA_4,    CONVERT(NUMERIC(8,3),0) AS TEMPO_CALCULADO,    CONVERT(NUMERIC(8,3),0) AS TEMPO_CALCULADO_2,    CONVERT(NUMERIC(8,3),0) AS TEMPO_CALCULADO_3,    
CONVERT(NUMERIC(8,3),0) AS TEMPO_CALCULADO_4,    CONVERT(NUMERIC(8,3),0) AS PORCENTAGEM,    CONVERT(NUMERIC(8,3),0) AS PORCENTAGEM_2,    CONVERT(NUMERIC(8,3),0) AS PORCENTAGEM_3,    CONVERT(NUMERIC(8,3),0) AS PORCENTAGEM_4,    CONVERT(NUMERIC(8,3),0) AS PECAS_HORA,    CONVERT(NUMERIC(8,3),0) AS PECAS_HORA_2,    CONVERT(NUMERIC(8,3),0) AS PECAS_HORA_3,    CONVERT(NUMERIC(8,3),0) AS PECAS_HORA_4,    CONVERT(NUMERIC(8,3),0) AS PECAS_DIA,    CONVERT(NUMERIC(8,3),0) AS PECAS_DIA_2,    CONVERT(NUMERIC(8,3),0) AS PECAS_DIA_3,    CONVERT(NUMERIC(8,3),0) AS PECAS_DIA_4,    CONVERT(NUMERIC(8,3),0) AS OPERADORAS,    CONVERT(NUMERIC(8,3),0) AS OPERADORAS_2,    CONVERT(NUMERIC(8,3),0) AS OPERADORAS_3,    CONVERT(NUMERIC(8,3),0) AS OPERADORAS_4,    PRODUTOS_OPERACOES.RPM, PRODUTOS_OPERACOES.TEMPO_OPERACAO,    PRODUTOS_OPERACOES.TEMPO_MAQUINA_1,    PRODUTOS_OPERACOES.TEMPO_MAQUINA_2,    PRODUTOS_OPERACOES.TEMPO_MAQUINA_3,    PRODUTOS_OPERACOES.TEMPO_MAQUINA_4,    PRODUTOS_OPERACOES.APARELHO,    PRODUTIV_APARELHOS.DESC_APARELHO    FROM PRODUTOS_OPERACOES PRODUTOS_OPERACOES        JOIN PRODUTIV_OPERACOES PRODUTIV_OPERACOES             ON PRODUTIV_OPERACOES.OPERACAO = PRODUTOS_OPERACOES.OPERACAO        JOIN PRODUTIV_MAQUINAS PRODUTIV_MAQUINAS             ON PRODUTIV_MAQUINAS.MAQUINA = PRODUTIV_OPERACOES.MAQUINA        JOIN PRODUTIV_OPER_TIPO PRODUTIV_OPER_TIPO             ON PRODUTIV_OPER_TIPO.TIPO_OPERACAO = PRODUTIV_OPERACOES.TIPO_OPERACAO        LEFT JOIN PRODUCAO_FASE PRODUCAO_FASE             ON PRODUTIV_OPERACOES.FASE_PRODUCAO = PRODUCAO_FASE.FASE_PRODUCAO        LEFT JOIN PRODUCAO_SETOR PRODUCAO_SETOR             ON PRODUTIV_OPERACOES.SETOR_PRODUCAO = PRODUCAO_SETOR.SETOR_PRODUCAO            AND PRODUTIV_OPERACOES.FASE_PRODUCAO = PRODUCAO_SETOR.FASE_PRODUCAO        LEFT JOIN PRODUTIV_APARELHOS             ON PRODUTOS_OPERACOES.APARELHO  = PRODUTIV_APARELHOS.APARELHO   WHERE PRODUTOS_OPERACOES.TABELA_OPERACOES = @P1   ORDER BY PRODUTOS_OPERACOES.SEQUENCIA',N'@P1 varchar(5)','43106'





SELECT DISTINCT PRODUTOS_OPERACOES.OPERACAO,         PRODUTIV_OPERACOES.DESC_OPERACAO,         PRODUTOS_OPERACOES.TABELA_OPERACOES,         PRODUTOS_OPERACOES.SEQUENCIA,         
PRODUTOS_OPERACOES.OPERACAO_ANTERIOR,         PRODUTOS_OPERACOES.TEMPO_CRONOMETRADO,         PRODUTIV_OPERACOES.TEMPO_PREVISTO,         PRODUTIV_OPERACOES.TEMPO_FIXO,         
PRODUTOS_OPERACOES.TEMPO_CRONOM_FIXO,         PRODUTOS_OPERACOES.MEDIDA_COSTURA,         PRODUTOS_OPERACOES.PONTOS_POLEGADA,         PRODUTIV_OPERACOES.MAQUINA,         
PRODUTIV_OPERACOES.TIPO_OPERACAO,         PRODUTIV_OPER_TIPO.DESC_TIPO_OPERACAO,         PRODUTIV_MAQUINAS.DESC_MAQUINA,         PRODUTIV_MAQUINAS.TIPO_MAQUINA,         
PRODUTIV_MAQUINAS.QTDE_MAQUINAS,         PRODUTIV_MAQUINAS.PORCENTAGEM_INTERFERENCIA,         PRODUTIV_OPER_TIPO.BALANCEAR_OPERACAO,         CONVERT(NUMERIC(8,2),0) AS INDICE_TOLERANCIA,         
PRODUTIV_OPERACOES.FASE_PRODUCAO,         PRODUCAO_FASE.DESC_FASE_PRODUCAO,         PRODUTIV_OPERACOES.SETOR_PRODUCAO,         PRODUCAO_SETOR.DESC_SETOR_PRODUCAO,         
PRODUTIV_OPERACOES.PARTE_PRODUTO,         PRODUTOS_OPERACOES.TEMPO_CRONOMETRADO_2,         PRODUTOS_OPERACOES.TEMPO_CRONOMETRADO_3,    PRODUTOS_OPERACOES.TEMPO_CRONOMETRADO_4,    
PRODUTIV_OPERACOES.TEMPO_PREVISTO_2,    PRODUTIV_OPERACOES.TEMPO_PREVISTO_3,    PRODUTIV_OPERACOES.TEMPO_PREVISTO_4,    PRODUTOS_OPERACOES.MEDIDA_COSTURA_2,    PRODUTOS_OPERACOES.MEDIDA_COSTURA_3,    
PRODUTOS_OPERACOES.MEDIDA_COSTURA_4,    CONVERT(NUMERIC(8,3),0) AS TEMPO_CALCULADO,    CONVERT(NUMERIC(8,3),0) AS TEMPO_CALCULADO_2,    CONVERT(NUMERIC(8,3),0) AS TEMPO_CALCULADO_3,    
CONVERT(NUMERIC(8,3),0) AS TEMPO_CALCULADO_4,    CONVERT(NUMERIC(8,3),0) AS PORCENTAGEM,    CONVERT(NUMERIC(8,3),0) AS PORCENTAGEM_2,    CONVERT(NUMERIC(8,3),0) AS PORCENTAGEM_3,    CONVERT(NUMERIC(8,3),0) AS PORCENTAGEM_4,    CONVERT(NUMERIC(8,3),0) AS PECAS_HORA,    CONVERT(NUMERIC(8,3),0) AS PECAS_HORA_2,    CONVERT(NUMERIC(8,3),0) AS PECAS_HORA_3,    CONVERT(NUMERIC(8,3),0) AS PECAS_HORA_4,    CONVERT(NUMERIC(8,3),0) AS PECAS_DIA,    CONVERT(NUMERIC(8,3),0) AS PECAS_DIA_2,    CONVERT(NUMERIC(8,3),0) AS PECAS_DIA_3,    CONVERT(NUMERIC(8,3),0) AS PECAS_DIA_4,    CONVERT(NUMERIC(8,3),0) AS OPERADORAS,    CONVERT(NUMERIC(8,3),0) AS OPERADORAS_2,    CONVERT(NUMERIC(8,3),0) AS OPERADORAS_3,    CONVERT(NUMERIC(8,3),0) AS OPERADORAS_4,    PRODUTOS_OPERACOES.RPM, PRODUTOS_OPERACOES.TEMPO_OPERACAO,    PRODUTOS_OPERACOES.TEMPO_MAQUINA_1,    PRODUTOS_OPERACOES.TEMPO_MAQUINA_2,    PRODUTOS_OPERACOES.TEMPO_MAQUINA_3,    PRODUTOS_OPERACOES.TEMPO_MAQUINA_4,    PRODUTOS_OPERACOES.APARELHO,    PRODUTIV_APARELHOS.DESC_APARELHO    
FROM PRODUTOS_OPERACOES PRODUTOS_OPERACOES        
JOIN PRODUTIV_OPERACOES PRODUTIV_OPERACOES             ON PRODUTIV_OPERACOES.OPERACAO = PRODUTOS_OPERACOES.OPERACAO        
JOIN PRODUTIV_MAQUINAS PRODUTIV_MAQUINAS             ON PRODUTIV_MAQUINAS.MAQUINA = PRODUTIV_OPERACOES.MAQUINA        
JOIN PRODUTIV_OPER_TIPO PRODUTIV_OPER_TIPO             ON PRODUTIV_OPER_TIPO.TIPO_OPERACAO = PRODUTIV_OPERACOES.TIPO_OPERACAO        
LEFT JOIN PRODUCAO_FASE PRODUCAO_FASE             ON PRODUTIV_OPERACOES.FASE_PRODUCAO = PRODUCAO_FASE.FASE_PRODUCAO        
LEFT JOIN PRODUCAO_SETOR PRODUCAO_SETOR             ON PRODUTIV_OPERACOES.SETOR_PRODUCAO = PRODUCAO_SETOR.SETOR_PRODUCAO            AND PRODUTIV_OPERACOES.FASE_PRODUCAO = PRODUCAO_SETOR.FASE_PRODUCAO        
LEFT JOIN PRODUTIV_APARELHOS             ON PRODUTOS_OPERACOES.APARELHO  = PRODUTIV_APARELHOS.APARELHO   
WHERE PRODUTOS_OPERACOES.TABELA_OPERACOES = '43106' AND PRODUTIV_OPERACOES.FASE_PRODUCAO IN('60','61','68','62')
