USE [DRLINGERIE]
GO
/****** Object:  Trigger [dbo].[LXU_FORNECEDORES]    Script Date: 17/07/2017 08:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE trigger [dbo].[DR_TU_COTACOES_MAT_FORNECEDOR] 
on [dbo].[COTACOES_MAT_FORNECEDOR]
  for UPDATE NOT FOR REPLICATION
  as
begin
  declare  @numrows int,
           @nullcnt int,
           @validcnt int,
           @errno   int,
           @errmsg  varchar(255)

  select @numrows = @@rowcount
  if
    update(ENTREGA)
  begin
	UPDATE 	COTACOES_MAT_FORNECEDOR
	SET 	LIMITE = INSERTED.ENTREGA
	FROM 	COTACOES_MAT_FORNECEDOR, INSERTED
	WHERE 	COTACOES_MAT_FORNECEDOR.COTACAO = INSERTED.COTACAO AND
			COTACOES_MAT_FORNECEDOR.MATERIAL = INSERTED.MATERIAL AND
			COTACOES_MAT_FORNECEDOR.COR_MATERIAL = INSERTED.COR_MATERIAL AND
			COTACOES_MAT_FORNECEDOR.ENTREGA = INSERTED.ENTREGA AND
			COTACOES_MAT_FORNECEDOR.FORNECEDOR = INSERTED.FORNECEDOR 
  end

  return
error:
    raiserror @errno @errmsg
    rollback transaction
end