USE [DRLINGERIE]
GO
/****** Object:  Trigger [dbo].[DR_TI_PRODUCAO_OS_TAREFAS]    Script Date: 10/07/2017 16:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[DR_TI_PRODUCAO_OS_TAREFAS] 
ON [dbo].[PRODUCAO_OS_TAREFAS]
FOR INSERT    
AS    
  
BEGIN    
	DECLARE @NUMROWS		  INT,    
           	@NULLCNT		  INT,    
           	@VALIDCNT		  INT,    
           	@ERRNO			  INT,    
           	@TEM_NFE_ENVIO    INT,
           	@FASE_COSTURA     INT,
           	@FASE_RECEBIMENTO INT,
           	@RETMODELAGEM     INT,
           	@SEAMLESS         INT,
			@ESCOLINHA        INT,
			@ALMOXARIFADO     INT,
           	@ORDEM_PRODUCAO   CHAR(8),
           	@TIPO_PROCESSO    CHAR(1),
           	@ERRMSG			  VARCHAR(255),
			@QTDE_RESERVA_MATERIAIS NUMERIC(16,4)

	SELECT @NUMROWS = @@ROWCOUNT    

	IF UPDATE(ORDEM_SERVICO)    
	BEGIN    
	    --- VERIFICAR RESERVA DE MATERIAIS PARA A FASE DISTRIBUIÇÃO
		SELECT @QTDE_RESERVA_MATERIAIS = SUM(D.RESERVA)   
 		FROM PRODUCAO_TAREFAS A WITH (NOLOCK)
  		JOIN PRODUCAO_OS_TAREFAS B WITH (NOLOCK) ON B.TAREFA=A.TAREFA    
  		JOIN inserted C ON C.ORDEM_SERVICO = B.ORDEM_SERVICO
		JOIN PRODUCAO_RESERVA D WITH (NOLOCK) ON D.ORDEM_PRODUCAO=A.ORDEM_PRODUCAO
 		WHERE A.FASE_PRODUCAO IN ('57') AND  A.RECURSO_PRODUTIVO = 'TPSIG' AND 
		A.ORDEM_PRODUCAO = B.ORDEM_PRODUCAO AND B.ORDEM_SERVICO=C.ORDEM_SERVICO

		IF @QTDE_RESERVA_MATERIAIS > 0    
		BEGIN    
  			SELECT 	@ERRNO  = 30002,    
        	 		@ERRMSG = 'Impossível incluir #PRODUCAO_OS_TAREFAS# porque existe #RESERVA DE MATERIAIS# para a ORDEM DE PRODUÇÃO, necessário baixar as reservas de materiais'    
  		GOTO ERROR    
		END

	    --- VERIFICAR UNICIDADE DE UMA OS PRA UMA OP
		SELECT @NULLCNT = 0    
		SELECT @VALIDCNT = COUNT(*)    
 		FROM PRODUCAO_TAREFAS A WITH (NOLOCK)
  		JOIN PRODUCAO_OS_TAREFAS B WITH (NOLOCK) ON B.TAREFA=A.TAREFA    
  		JOIN inserted C ON C.ORDEM_SERVICO = B.ORDEM_SERVICO
 		WHERE A.FASE_PRODUCAO IN ('009','700','83') AND
 		      B.ORDEM_SERVICO=C.ORDEM_SERVICO
	    
		IF @VALIDCNT > 1    
		BEGIN    
  			SELECT 	@ERRNO  = 30002,    
        	 		@ERRMSG = 'Impossível incluir #PRODUCAO_OS_TAREFAS porque existe mais de uma ORDEM DE PRODUÇÃO na ORDEM DE SERVIÇO, favor deixar apenas uma'    
  		GOTO ERROR    
		END
		    
        --- VERIFICAR A FASE DE PRODUÇÃO MOVIMENTADA (COSTURA)  
        SELECT @FASE_COSTURA = COUNT(*) 
 		FROM PRODUCAO_TAREFAS A WITH (NOLOCK)
  		JOIN PRODUCAO_OS_TAREFAS B WITH (NOLOCK) ON B.TAREFA=A.TAREFA    
  		JOIN inserted C ON C.ORDEM_SERVICO = B.ORDEM_SERVICO
 		WHERE A.FASE_PRODUCAO IN ('007','60','61','62','68') AND
 		      B.ORDEM_SERVICO=C.ORDEM_SERVICO AND
 		      (RTRIM(A.SETOR_PRODUCAO) <> 'SEAMLESS' AND RTRIM(A.SETOR_PRODUCAO) <> 'MODLAGEM' AND RTRIM(A.SETOR_PRODUCAO) <> 'MODELAGEM')
 		      
		--- VERIFICAR SE OP TEM NFE DE ENVIO A OFICINA ANTES DE MOVIMENTAR PARA COSTURA
		SELECT @TEM_NFE_ENVIO = COUNT(*) FROM PRODUCAO_OS_TAREFAS A WITH (NOLOCK)
		JOIN PRODUCAO_TAREFAS B WITH (NOLOCK) ON B.TAREFA=A.TAREFA
		JOIN PRODUCAO_ORDEM_SERVICO C WITH (NOLOCK) ON C.ORDEM_SERVICO = A.ORDEM_SERVICO
		JOIN PRODUCAO_ORDEM D WITH (NOLOCK) ON D.ORDEM_PRODUCAO = A.ORDEM_PRODUCAO
		JOIN inserted E ON E.ORDEM_PRODUCAO = A.ORDEM_PRODUCAO
		JOIN FATURAMENTO F WITH (NOLOCK) ON F.NF_SAIDA=C.NF_SAIDA AND F.SERIE_NF=C.SERIE_NF AND F.FILIAL=C.FILIAL
		WHERE C.NF_SAIDA <> '' AND 
		      C.SERIE_NF IN('55','56') AND 
		      D.TIPO_PROCESSO='0' AND
			  A.ORDEM_PRODUCAO=E.ORDEM_PRODUCAO AND
			  F.PROTOCOLO_AUTORIZACAO_NFE IS NOT NULL
			  
		--- ORDEM DE PRODUÇÃO COM PROBLEMA	  
        SELECT @ORDEM_PRODUCAO = INSERTED.ORDEM_PRODUCAO, @TIPO_PROCESSO=PRODUCAO_ORDEM.TIPO_PROCESSO
        FROM inserted, PRODUCAO_ORDEM WITH (NOLOCK)
        WHERE inserted.ORDEM_PRODUCAO=PRODUCAO_ORDEM.ORDEM_PRODUCAO
         
        --- TIPO_PROCESSO = 0 (NORMAL)
        IF (@TIPO_PROCESSO='0')
        BEGIN
			IF (@FASE_COSTURA > 0 AND @TEM_NFE_ENVIO = 0)
			BEGIN    
  				SELECT 	@ERRNO  = 30002,    
        	 			@ERRMSG = 'Impossível incluir #PRODUCAO_OS_TAREFAS porque NÃO existe NF-e de Envio da ORDEM DE PRODUÇÃO ( '+RTRIM(@ORDEM_PRODUCAO)+' ) para a Oficina, verifique'
  			GOTO ERROR    
			END    
		END

        --- VERIFICAR A FASE DE PRODUÇÃO MOVIMENTADA (RETORNO MODELAGEM)  
        SELECT @RETMODELAGEM = COUNT(*) 
 		FROM PRODUCAO_TAREFAS A WITH (NOLOCK)
  		JOIN PRODUCAO_OS_TAREFAS B WITH (NOLOCK) ON B.TAREFA=A.TAREFA    
  		JOIN inserted C ON C.ORDEM_PRODUCAO = B.ORDEM_PRODUCAO
 		WHERE A.FASE_PRODUCAO IN ('009','700') AND 
 		      A.SETOR_PRODUCAO = 'RETMODELAGEM' AND
 		      B.ORDEM_PRODUCAO = C.ORDEM_PRODUCAO

        --- VERIFICAR A FASE DE PRODUÇÃO MOVIMENTADA (RECEBIMENTO APA)  
        SELECT @FASE_RECEBIMENTO = COUNT(*) 
 		FROM PRODUCAO_TAREFAS A WITH (NOLOCK)
  		JOIN PRODUCAO_OS_TAREFAS B WITH (NOLOCK) ON B.TAREFA=A.TAREFA    
  		JOIN inserted C ON C.ORDEM_SERVICO = B.ORDEM_SERVICO
 		WHERE A.FASE_PRODUCAO IN ('70','010') AND
 		      B.ORDEM_SERVICO=C.ORDEM_SERVICO
 		      
		--- VERIFICAR SE OP TEM NFE DE RETORNO DA OFICINA ANTES DE MOVIMENTAR PARA RECEBIMENTO APA
		SELECT @TEM_NFE_ENVIO = COUNT(*) FROM PRODUCAO_OS_TAREFAS A WITH (NOLOCK)
		JOIN PRODUCAO_TAREFAS B WITH (NOLOCK) ON B.TAREFA=A.TAREFA
		JOIN PRODUCAO_ORDEM_SERVICO C WITH (NOLOCK) ON C.ORDEM_SERVICO = A.ORDEM_SERVICO
		JOIN PRODUCAO_ORDEM D WITH (NOLOCK) ON D.ORDEM_PRODUCAO = A.ORDEM_PRODUCAO
		JOIN inserted E ON E.ORDEM_PRODUCAO = A.ORDEM_PRODUCAO
		JOIN FATURAMENTO F WITH (NOLOCK) ON F.NF_SAIDA=C.NF_SAIDA AND F.SERIE_NF=C.SERIE_NF AND F.FILIAL=C.FILIAL
		WHERE C.NF_SAIDA <> '' AND 
		      C.SERIE_NF NOT IN('55','56') AND 
		      D.TIPO_PROCESSO='0' AND
			  A.ORDEM_PRODUCAO=E.ORDEM_PRODUCAO AND 
			  F.PROTOCOLO_AUTORIZACAO_NFE IS NOT NULL

		--- ORDEM PRODUÇÃO	  
        SELECT @ORDEM_PRODUCAO = INSERTED.ORDEM_PRODUCAO, @TIPO_PROCESSO=PRODUCAO_ORDEM.TIPO_PROCESSO
        FROM inserted, PRODUCAO_ORDEM WITH (NOLOCK)
        WHERE inserted.ORDEM_PRODUCAO=PRODUCAO_ORDEM.ORDEM_PRODUCAO

        --- VERIFICAR SE OFICINA É ('SEAMLESS','NADILE','BURITI','ZULENE')
        SELECT @SEAMLESS = COUNT(*) 
 		FROM PRODUCAO_TAREFAS A WITH (NOLOCK)
  		JOIN inserted B ON B.ORDEM_PRODUCAO = A.ORDEM_PRODUCAO
 		WHERE A.FASE_PRODUCAO IN ('007','60','61','62','68','700') AND
 		      B.ORDEM_PRODUCAO=A.ORDEM_PRODUCAO AND
 		      (RTRIM(A.SETOR_PRODUCAO) IN('SEAMLESS','NADILE','BURITI','ZULENE') or RTRIM(A.SETOR_PRODUCAO) like '%SEAMLESS%')

        --- VERIFICAR SE É ESCOLINHA
        SELECT @ESCOLINHA = COUNT(*) 
 		FROM PRODUCAO_TAREFAS A WITH (NOLOCK)
  		JOIN inserted B ON B.ORDEM_PRODUCAO = A.ORDEM_PRODUCAO
 		WHERE A.FASE_PRODUCAO IN ('500') AND
 		      B.ORDEM_PRODUCAO=A.ORDEM_PRODUCAO AND (RTRIM(A.SETOR_PRODUCAO) = 'RCES')

        --- VERIFICAR SE É ALMOXARIFADO
        SELECT @ALMOXARIFADO = COUNT(*) 
 		FROM PRODUCAO_TAREFAS A WITH (NOLOCK)
  		JOIN inserted B ON B.ORDEM_PRODUCAO = A.ORDEM_PRODUCAO
 		WHERE A.FASE_PRODUCAO IN ('20') AND
 		      B.ORDEM_PRODUCAO=A.ORDEM_PRODUCAO AND (RTRIM(A.SETOR_PRODUCAO) = '20')
       
	    IF (@ALMOXARIFADO = 0)
		BEGIN
			IF (@ESCOLINHA = 0) 
			BEGIN
				--- SE FOR FABRICADO NA MODELAGEM, SETOR NÃO EMITE NFE
				IF (@RETMODELAGEM = 0)
				BEGIN
					--- SE OFICINA NÃO FOR ('SEAMLESS','NADILE','BURITI','ZULENE')
					IF (@SEAMLESS = 0) 
					BEGIN
						--- TIPO_PROCESSO = 0 (NORMAL)
						IF (@TIPO_PROCESSO='0')         
						BEGIN
							IF (@FASE_RECEBIMENTO > 0 AND @TEM_NFE_ENVIO = 0)
							BEGIN    
  								SELECT 	@ERRNO  = 30002,    
        	 							@ERRMSG = 'Impossível incluir #PRODUCAO_OS_TAREFAS porque NÃO existe NF-e de Retorno da ORDEM DE PRODUÇÃO ( '+RTRIM(@ORDEM_PRODUCAO)+' ) da Oficina, verifique'    
  							GOTO ERROR    
							END  
						END  
					END
				END
			END
		END
	END   
      
  	RETURN    
ERROR:    
    --RAISERROR @ERRNO @ERRMSG   
    RAISERROR (@ERRMSG,16,1)
    ROLLBACK TRANSACTION    
END    