USE [DESENV]
GO
/****** Object:  Trigger [dbo].[LXI_PRODUCAO_RESERVA]    Script Date: 01/11/2013 15:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create trigger [dbo].[LDR_TI_PRODUCAO_RESERVA] 
on [dbo].[PRODUCAO_RESERVA]
  for INSERT NOT FOR REPLICATION 
  as
/* INSERT trigger on PRODUCAO_RESERVA */
begin
  declare  @numrows int,
           @nullcnt int,
           @validcnt int,
           @RESERVA INT,
           @QTDE_ESTOQUE INT,
           @insORDEM_PRODUCAO char(8), 
           @insMATERIAL char(11), 
           @insCOR_MATERIAL char(10),
           @delORDEM_PRODUCAO char(8), 
           @delMATERIAL char(11), 
           @delCOR_MATERIAL char(10),
           @errno   int,
           @errmsg  varchar(255)

  select @numrows = @@rowcount
/* ESTOQUE_MATERIAIS R/1272 PRODUCAO_RESERVA ON CHILD INSERT RESTRICT */
  if 
     update(RESERVA) or 
     update(RESERVA_ORIGINAL)
  begin
    select @nullcnt = 0
    select @RESERVA = inserted.RESERVA,@QTDE_ESTOQUE = ESTOQUE_MATERIAIS.QTDE_ESTOQUE     
      from inserted,ESTOQUE_MATERIAIS
     where 
           inserted.MATERIAL = ESTOQUE_MATERIAIS.MATERIAL and
           inserted.COR_MATERIAL = ESTOQUE_MATERIAIS.COR_MATERIAL and
           ESTOQUE_MATERIAIS.FILIAL='DR VAREJO'
    
    if @RESERVA > @QTDE_ESTOQUE
    begin
      select @errno  = 30002,
             @errmsg = 'Impossível Incluir #PRODUCAO_RESERVA #porque #ESTOQUE_MATERIAIS #não existe disponibilidade.'
      goto error
    end
  end

--/*-------------------------------------------------------------------------------------------------------------------*/

--	DECLARE @xREQ_MATERIAL Char(8),@xFILIAL_DESTINO VarChar(25),@xEMISSAO DateTime,@xMATERIAL Char(11),@xCOR_MATERIAL Char(10),
--		@xORDEM_PRODUCAO Char(8),@xQTDE Numeric(9,3)
--	DECLARE CUR_SAIDA CURSOR FOR 
--		SELECT DISTINCT B.ESTOQUE_EM_PROCESSO_MATERIAL,ISNULL(D.INICIO_REAL,B.EMISSAO),A.MATERIAL,A.COR_MATERIAL,B.ORDEM_PRODUCAO,A.RESERVA_ORIGINAL,B.REQ_MATERIAL_SAIDA
--		FROM INSERTED A 
--			JOIN      PRODUCAO_ORDEM B 	ON B.ORDEM_PRODUCAO=A.ORDEM_PRODUCAO
--			JOIN 	  MATERIAIS C		ON C.MATERIAL=A.MATERIAL
--			LEFT JOIN PRODUCAO_TAREFAS D 	ON D.ORDEM_PRODUCAO=A.ORDEM_PRODUCAO AND D.FASE_PRODUCAO=C.FASE_PRODUCAO
--		WHERE 	B.ESTOQUE_EM_PROCESSO_MATERIAL IS NOT NULL AND 
--			(B.ESTOQUE_EM_PROCESSO_MATERIAL=B.FILIAL OR C.ABATER_RESERVA_QTDE=1) AND
--			((B.STATUS <> 'S' AND C.FASE_PRODUCAO IS NULL) OR (D.QTDE_FINALIZADA > 0 OR D.QTDE_EM_PROCESSO > 0))
--	OPEN CUR_SAIDA
--	FETCH NEXT FROM CUR_SAIDA INTO @xFILIAL_DESTINO,@xEMISSAO,@xMATERIAL,@xCOR_MATERIAL,@xORDEM_PRODUCAO,@xQTDE,@xREQ_MATERIAL
--	WHILE @@FETCH_STATUS=0
--	BEGIN

--/*		SELECT @xREQ_MATERIAL = NULL
--		IF EXISTS(SELECT * FROM ESTOQUE_SAI1_MAT WHERE MATERIAL=@xMATERIAL AND COR_MATERIAL=@xCOR_MATERIAL AND ORDEM_PRODUCAO=@xORDEM_PRODUCAO)
--		BEGIN

--			SELECT DISTINCT @xREQ_MATERIAL = REQ_MATERIAL FROM ESTOQUE_SAI1_MAT WHERE MATERIAL=@xMATERIAL AND COR_MATERIAL=@xCOR_MATERIAL AND ORDEM_PRODUCAO=@xORDEM_PRODUCAO
--			UPDATE ESTOQUE_SAI_MAT SET EMISSAO=@xEMISSAO WHERE REQ_MATERIAL=@xREQ_MATERIAL AND FILIAL=@xFILIAL_DESTINO
--		END
--*/

--		WHILE @xREQ_MATERIAL IS NULL
--		BEGIN
--			SELECT  @xREQ_MATERIAL='A'+RIGHT(SEQUENCIA,7) FROM SEQUENCIAIS 
--			WHERE TABELA_COLUNA='ESTOQUE_SAI_MAT_00.REQ_MATERIAL'
--			UPDATE  SEQUENCIAIS SET SEQUENCIA=RIGHT(RTRIM('00000000'+CONVERT(CHAR(8),CONVERT(INT,SEQUENCIA)+1)),TAMANHO)
--			WHERE TABELA_COLUNA='ESTOQUE_SAI_MAT_00.REQ_MATERIAL'
--			IF EXISTS(SELECT * FROM ESTOQUE_SAI_MAT WHERE REQ_MATERIAL=@xREQ_MATERIAL AND FILIAL=@xFILIAL_DESTINO)
--				SELECT @xREQ_MATERIAL = NULL
--		END

--		IF NOT EXISTS(SELECT * FROM ESTOQUE_SAI_MAT WHERE REQ_MATERIAL=@xREQ_MATERIAL AND FILIAL=@xFILIAL_DESTINO)
--		BEGIN
--			INSERT INTO ESTOQUE_SAI_MAT (REQ_MATERIAL,FILIAL,EMISSAO)
--			VALUES (@xREQ_MATERIAL,@xFILIAL_DESTINO,@xEMISSAO)
--			UPDATE PRODUCAO_ORDEM SET REQ_MATERIAL_SAIDA=@xREQ_MATERIAL WHERE ORDEM_PRODUCAO=@xORDEM_PRODUCAO
--		END

--		IF NOT EXISTS(SELECT * FROM ESTOQUE_SAI1_MAT WHERE REQ_MATERIAL=@xREQ_MATERIAL AND FILIAL=@xFILIAL_DESTINO AND MATERIAL=@xMATERIAL AND COR_MATERIAL=@xCOR_MATERIAL AND ITEM='001')
--		BEGIN
--			INSERT INTO ESTOQUE_SAI1_MAT (REQ_MATERIAL,FILIAL,MATERIAL,COR_MATERIAL,ITEM,ORDEM_PRODUCAO,QTDE,RESERVA_AUTOMATICA)
--			VALUES(@xREQ_MATERIAL,@xFILIAL_DESTINO,@xMATERIAL,@xCOR_MATERIAL,'001',@xORDEM_PRODUCAO,@xQTDE,1)
--		END
--		ELSE
--		BEGIN
--			UPDATE ESTOQUE_SAI1_MAT SET QTDE=@xQTDE,RESERVA_AUTOMATICA=1
--			WHERE REQ_MATERIAL=@xREQ_MATERIAL AND FILIAL=@xFILIAL_DESTINO AND MATERIAL=@xMATERIAL AND COR_MATERIAL=@xCOR_MATERIAL AND ITEM='001'
--		END
--		FETCH NEXT FROM CUR_SAIDA INTO @xFILIAL_DESTINO,@xEMISSAO,@xMATERIAL,@xCOR_MATERIAL,@xORDEM_PRODUCAO,@xQTDE,@xREQ_MATERIAL
--	END
--	CLOSE CUR_SAIDA
--	DEALLOCATE CUR_SAIDA

--/*-------------------------------------------------------------------------------------------------------------------*/

--/*- ATUALIZA CONSUMO_UNITARIO EM PRODUCAO RESERVA -----------------------------------------------------*/
--UPDATE C SET CONSUMO_UNITARIO=CASE WHEN ISNULL(QTDE_A_PRODUZIR,0) + ISNULL(QTDE_EM_PROCESSO,0) + ISNULL(QTDE_FINALIZADA,0)=0 THEN 0 ELSE C.RESERVA_ORIGINAL/(ISNULL(QTDE_A_PRODUZIR,0) + ISNULL(QTDE_EM_PROCESSO,0) + ISNULL(QTDE_FINALIZADA,0)) END
--FROM M_ORDEM_FABRICACAO_ITEM A
--	JOIN INSERTED B ON A.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
--	JOIN PRODUCAO_RESERVA C ON B.ORDEM_PRODUCAO=C.ORDEM_PRODUCAO AND B.MATERIAL=C.MATERIAL AND B.COR_MATERIAL=C.COR_MATERIAL
--WHERE C.CONSUMO_UNITARIO<>CASE WHEN ISNULL(QTDE_A_PRODUZIR,0) + ISNULL(QTDE_EM_PROCESSO,0) + ISNULL(QTDE_FINALIZADA,0)=0 THEN 0 ELSE C.RESERVA_ORIGINAL/(ISNULL(QTDE_A_PRODUZIR,0) + ISNULL(QTDE_EM_PROCESSO,0) + ISNULL(QTDE_FINALIZADA,0)) END
--/*-----------------------------------------------------------------------------------------------------*/


  return
error:
    raiserror @errno @errmsg
    rollback transaction
end
