USE [DRLINGERIE]
GO
/****** Object:  Trigger [dbo].[UPD_WMS_PRODUTOS_BARRA]    Script Date: 25/04/2017 14:38:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER TRIGGER [dbo].[UPD_WMS_PRODUTOS_BARRA] ON [dbo].[PRODUTOS_BARRA]
	FOR UPDATE not for replication
	AS
	BEGIN
		SET NOCOUNT ON;
		
		DECLARE @CODPROD VARCHAR(20), @COD_COR varchar(15), @DESC_TAMANHO VARCHAR(15), @ISN_COR INT, @ISN_PRO INT,
		@ISN_BARRA INT, @COD_BAR VARCHAR(25),@COD_BAR_OLD VARCHAR(25),  @CODIGO_BARRA_PADRAO bit;
		--Obtém os dados do insert
		SELECT @CODPROD = I.PRODUTO, @COD_COR = rtrim(ltrim(I.COR_PRODUTO)), @DESC_TAMANHO = I.GRADE,
		@ISN_BARRA = I.ISN_BARRA, @COD_BAR = CODIGO_BARRA, @ISN_PRO = I.ISN_PRODUTO,  @CODIGO_BARRA_PADRAO = I.CODIGO_BARRA_PADRAO FROM INSERTED I		
		
		--Seleciona o id da cor
		SELECT @ISN_COR = C.ISN_COR FROM LKD65.SOFTLOGWMS.DBO.WMS_CORES C
		WHERE C.CORNR_COR = @COD_COR;	
		
		IF NOT EXISTS
		(
			SELECT ISN_COR FROM LKD65.SOFTLOGWMS.DBO.WMS_COR_PRODUTO
			WHERE ISN_COR = @ISN_COR AND CPRNR_PRODUTO = @CODPROD
		) 
		BEGIN
			INSERT INTO LKD65.SOFTLOGWMS.DBO.WMS_COR_PRODUTO(CPRNR_PRODUTO, ISN_COR)
			VALUES(@CODPROD, @ISN_COR);
		END
		
		IF NOT EXISTS(
			SELECT ISN_TAM_PRODUTO FROM LKD65.SOFTLOGWMS.DBO.WMS_TAMANHO_PRODUTO
			WHERE TPRDS_TAMANHO = @DESC_TAMANHO AND TPRNR_PRODUTO = @CODPROD
		)
		BEGIN 
			INSERT INTO LKD65.SOFTLOGWMS.DBO.WMS_TAMANHO_PRODUTO(TPRDS_TAMANHO, TPRNR_PRODUTO)
			VALUES(@DESC_TAMANHO, @CODPROD);
		END;
		
		IF (@ISN_PRO IS NULL) 
		BEGIN		
		--Caso o produto não exista, ele é inserido na tabela de produto do WMS.
		IF NOT EXISTS
		(
			SELECT ISN_PRODUTO FROM LKD65.SOFTLOGWMS.DBO.WMS_PRODUTO
			WHERE PRONR_COR = @ISN_COR AND PRODS_TAM = @DESC_TAMANHO AND PRONR_AUXILIAR = @CODPROD
		)
		BEGIN 
		    --Insere o produto na tabela do WMS.
			INSERT INTO LKD65.SOFTLOGWMS.dbo.WMS_PRODUTO(PROCC_PRODUTO, PRONR_AUXILIAR, PRONR_COR, PRODS_TAM, PRODS_PRODUTO, PROFG_USO, PROFG_TIPO_PRODUTO, PROFG_PESO_PADRAO)
			SELECT TOP 1 @CODPROD, @CODPROD, @ISN_COR, @DESC_TAMANHO, DESC_PRODUTO, 'S', 'AC', 'S' FROM PRODUTOS 
			WHERE PRODUTO = @CODPROD;						
		END
		END;

		-----------------------------------------------------------BANCO NOVO--------------------------------------------------------------------------------------
		
		--Seleciona o id da cor
		SELECT @ISN_COR = C.ISN_COR FROM LKD65.SOFTLOGWMS.dbo.WMS_CORES C WHERE C.CORNR_COR = @COD_COR;	
		
		IF NOT EXISTS(
			SELECT ISN_COR FROM LKD65.SOFTLOGWMS.dbo.WMS_COR_PRODUTO WHERE ISN_COR = @ISN_COR AND CPRNR_PRODUTO = @CODPROD
		) 
		BEGIN
			INSERT INTO LKD65.SOFTLOGWMS.dbo.WMS_COR_PRODUTO(CPRNR_PRODUTO, ISN_COR)	VALUES (@CODPROD, @ISN_COR);
		END
		
		IF NOT EXISTS(
			SELECT ISN_TAM_PRODUTO FROM LKD65.SOFTLOGWMS.dbo.WMS_TAMANHO_PRODUTO	WHERE TPRDS_TAMANHO = @DESC_TAMANHO AND TPRNR_PRODUTO = @CODPROD
		)
		BEGIN 
			INSERT INTO LKD65.SOFTLOGWMS.dbo.WMS_TAMANHO_PRODUTO(TPRDS_TAMANHO, TPRNR_PRODUTO) VALUES (@DESC_TAMANHO, @CODPROD);
		END;

				
		UPDATE LKD65.SOFTLOGWMS.DBO.WMS_PRODUTO SET PRODS_PRODUTO = (SELECT TOP 1 DESC_PRODUTO FROM PRODUTOS WHERE PRODUTO = @CODPROD)
		WHERE PRONR_AUXILIAR = @CODPROD;


		--Valor Antigo
		SELECT  @COD_BAR_OLD = CODIGO_BARRA FROM DELETED I		

		update LKD65.SOFTLOGWMS.dbo.wms_barra 
		set   CODIGO_BARRA = @COD_BAR,
		      CODIGO_BARRA_PADRAO = @CODIGO_BARRA_PADRAO,
			  isn_produto = @ISN_PRO,
			  GRADE = @DESC_TAMANHO,
			  ISN_COR = @ISN_COR
		WHERE CODIGO_BARRA = @COD_BAR_OLD;   

				
	END


