USE [DRVAREJO]
GO
/****** Object:  StoredProcedure [dbo].[GERA_CUSTOS_FASE_SETOR_LINHA_INDUSTRIAL]    Script Date: 03/27/2014 13:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GERA_CUSTOS_FASE_SETOR_LINHA_INDUSTRIAL]
AS
BEGIN

	DECLARE 
	@FASE_PRODUCAO VARCHAR(25),
	@SETOR_PRODUCAO VARCHAR(25)

	DECLARE PROD_SETOR_CURSOR CURSOR 
	FOR SELECT FASE_PRODUCAO,SETOR_PRODUCAO FROM PRODUCAO_SETOR; 
	OPEN PROD_SETOR_CURSOR;
	FETCH NEXT FROM PROD_SETOR_CURSOR INTO @FASE_PRODUCAO,@SETOR_PRODUCAO; 
	WHILE @@FETCH_STATUS = 0 
		BEGIN 
           INSERT INTO PRODUTO_SETOR_CUSTO (FASE_PRODUCAO,SETOR_PRODUCAO,LINHA_INDUSTRIAL,UNIDADE_TEMPO,CUSTO_SUGERIDO)
		   SELECT @FASE_PRODUCAO,@SETOR_PRODUCAO,LINHA_INDUSTRIAL,'M',0.00 FROM PRODUTIV_LINHA_INDUSTRIAL
		   FETCH NEXT FROM PROD_SETOR_CURSOR INTO @FASE_PRODUCAO,@SETOR_PRODUCAO;
		END; 
	CLOSE PROD_SETOR_CURSOR; 
	DEALLOCATE PROD_SETOR_CURSOR; 

END --FIM DA PROCEDURE