USE [DRLINGERIE]
GO
/****** Object:  StoredProcedure [dbo].[SP_INCLUIR_CAIXA_WMS_LINX_PEDIDO]    Script Date: 08/12/2016 08:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[SP_INCLUIR_CAIXA_WMS_LINX_PEDIDO]
@PPEDIDO CHAR(12)
AS 
BEGIN
	DECLARE @ERRMSG VARCHAR(500)

	set ANSI_WARNINGS off
	SET NOCOUNT ON;  

	BEGIN TRANSACTION 
	BEGIN
	    --- VERIFICAR QTDE ORIGINAL X EMBALADA X FATURADA
		IF (SELECT COUNT(*)
			FROM (
				SELECT PEDIDO,PRODUTO,COR_PRODUTO,E1=SUM(E1),E2=SUM(E2),E3=SUM(E3),E4=SUM(E4),E5=SUM(E5),E6=SUM(E6),E7=SUM(E7),E8=SUM(E8),E9=SUM(E9),E10=SUM(E10),E11=SUM(E11),E12=SUM(E12),E13=SUM(E13),E14=SUM(E14),E15=SUM(E15),E16=SUM(E16)
				FROM SoftlogWMS.DBO.W_WMS_LINX_RESERVA_ITEM
				GROUP BY PEDIDO,PRODUTO,COR_PRODUTO
			) A 
			JOIN VENDAS_PRODUTO B ON B.PEDIDO=A.PEDIDO AND B.PRODUTO=A.PRODUTO AND B.COR_PRODUTO=A.COR_PRODUTO
			LEFT JOIN (
				SELECT PEDIDO,PRODUTO,COR_PRODUTO,F1=SUM(F1),F2=SUM(F2),F3=SUM(F3),F4=SUM(F4),F5=SUM(F5),F6=SUM(F6),F7=SUM(F7),F8=SUM(F8),F9=SUM(F9),F10=SUM(F10),F11=SUM(F11),F12=SUM(F12),F13=SUM(F13),F14=SUM(F14),F15=SUM(F15),F16=SUM(F16) 
				FROM FATURAMENTO_PROD 
				GROUP BY PEDIDO,PRODUTO,COR_PRODUTO
			) 
			C ON C.PEDIDO=A.PEDIDO AND C.PRODUTO=A.PRODUTO AND C.COR_PRODUTO=A.COR_PRODUTO
			WHERE 
			(B.VO1-ISNULL(C.F1,0)-A.E1)>=0 AND
			(B.VO2-ISNULL(C.F2,0)-A.E2)>=0 AND
			(B.VO3-ISNULL(C.F3,0)-A.E3)>=0 AND
			(B.VO4-ISNULL(C.F4,0)-A.E4)>=0 AND
			(B.VO5-ISNULL(C.F5,0)-A.E5)>=0 AND
			(B.VO6-ISNULL(C.F6,0)-A.E6)>=0 AND
			(B.VO7-ISNULL(C.F7,0)-A.E7)>=0 AND
			(B.VO8-ISNULL(C.F8,0)-A.E8)>=0 AND
			(B.VO9-ISNULL(C.F9,0)-A.E9)>=0 AND
			(B.VO10-ISNULL(C.F10,0)-A.E10)>=0 AND
			(B.VO11-ISNULL(C.F11,0)-A.E11)>=0 AND
			(B.VO12-ISNULL(C.F12,0)-A.E12)>=0 AND
			(B.VO13-ISNULL(C.F13,0)-A.E13)>=0 AND
			(B.VO14-ISNULL(C.F14,0)-A.E14)>=0 AND
			(B.VO15-ISNULL(C.F15,0)-A.E15)>=0 AND
			(B.VO16-ISNULL(C.F16,0)-A.E16)>=0 
			AND A.PEDIDO=@PPEDIDO) = 0 
	    BEGIN 
		    SELECT @errmsg = 'Atenção!!! O pedido está com #QUANTIDADES# à Entregar Maior que Pedido Original, verifique com o Supply Chain...'
    	    GOTO error 
	    END 
        --- FIM DA VERIFICAÇÃO 
		---  
		--- CRIAR TABELA PARA GUARDAR OS PEDIDOS
		SELECT DISTINCT A.PEDIDO INTO #TEMP_PEDIDOS 
		FROM SoftlogWMS.DBO.W_WMS_LINX_RESERVA A WITH (NOLOCK)
		JOIN VENDAS B WITH (NOLOCK) ON B.PEDIDO=A.PEDIDO
		WHERE NOT EXISTS(SELECT CAIXA FROM FATURAMENTO_CAIXAS WITH (NOLOCK) WHERE CAIXA=A.CAIXA) 
			  AND EXISTS(SELECT PEDIDO FROM VENDAS_PROD_EMBALADO WITH (NOLOCK) WHERE PEDIDO=A.PEDIDO) 
			  AND A.PEDIDO=@PPEDIDO
		
		--- APAGAR RESERVA DO PEDIDO
		DELETE FROM VENDAS_PROD_EMBALADO 
		WHERE PEDIDO IN (
		SELECT DISTINCT A.PEDIDO FROM SoftlogWMS.DBO.W_WMS_LINX_RESERVA A WITH (NOLOCK)
		JOIN VENDAS B WITH (NOLOCK) ON B.PEDIDO=A.PEDIDO
		WHERE 
				NOT EXISTS(SELECT CAIXA FROM FATURAMENTO_CAIXAS WITH (NOLOCK) WHERE CAIXA=A.CAIXA) 
			  AND  EXISTS(SELECT PEDIDO FROM #TEMP_PEDIDOS WITH (NOLOCK) WHERE PEDIDO=A.PEDIDO)
		) AND CAIXA_FECHADA=0
	END
	BEGIN
		--- INSERT FATURAMENTO_CAIXAS
		INSERT INTO FATURAMENTO_CAIXAS (
			   [CAIXA]
			  ,[CAIXA_FECHADA]
			  ,[NOME_CLIFOR]
			  ,[PESO_BRUTO_CAIXA]
			  ,[DATA_EMBALAGEM]
			  ,[EMBALADOR]
			  ,[QTDE_CAIXA]
			  ,[ENCERRADA]
			  ,[TIPO_CAIXA]
			  ,[CAIXA_NUMERO_CLIENTE]
			  ,[GRUPO_DE_CAIXAS]
			  ,[ARQUIVO_COLETOR_GERADO]
			  ,[PESO_LIQUIDO_CAIXA]
			  ,[CODIGO_LOCAL_ENTREGA]
			  ,[NOME_CLIFOR_ENTREGA]
			  ,[FORNECEDOR]
			  ,[NF_ENTRADA]
			  ,[SERIE_NF_ENTRADA]
			  ,[NUMERO_VOLUMES]
			  ,[DATA_CONFERENCIA]
			  ,[CONFERENTE]
			  ,[DATA_PARA_TRANSFERENCIA]
			  ,[COD_PRODUTO_BARRA_LEITURA])

		SELECT [CAIXA]
			  ,1
			  ,B.[CLIENTE_ATACADO]
			  ,[PESO_BRUTO]
			  ,[DATA_EMBALAGEM]
			  ,[EMBALADOR]
			  ,[QUANTIDADE]
			  ,1
			  ,'01'
			  ,NULL
			  ,NULL
			  ,NULL
			  ,[PESO_LIQUIDO]
			  ,NULL
			  ,B.[CLIENTE_ATACADO]
			  ,NULL
			  ,NULL
			  ,NULL
			  ,NULL
			  ,NULL
			  ,NULL
			  ,GETDATE()
			  ,NULL
		FROM SoftlogWMS.DBO.W_WMS_LINX_RESERVA A WITH (NOLOCK)
		JOIN VENDAS B WITH (NOLOCK) ON B.PEDIDO=A.PEDIDO
		WHERE NOT EXISTS(SELECT CAIXA FROM FATURAMENTO_CAIXAS WITH (NOLOCK) WHERE CAIXA=A.CAIXA) AND 
		      EXISTS(SELECT PEDIDO FROM #TEMP_PEDIDOS WITH (NOLOCK) WHERE PEDIDO=A.PEDIDO)
		IF @@ERROR > 0	GOTO ERROR

		--- INCLUIR VENDAS_PROD_EMBALADO
		INSERT INTO VENDAS_PROD_EMBALADO(
			   [NOME_CLIFOR]
			  ,[PRODUTO]
			  ,[COR_PRODUTO]
			  ,[FILIAL]
			  ,[ITEM]
			  ,[PEDIDO]
			  ,[PEDIDO_COR_PRODUTO]
			  ,[ROMANEIO]
			  ,[CAIXA]
			  ,[PEDIDO_PRODUTO]
			  ,[PACKS]
			  ,[ENTREGA]
			  ,[CAIXA_FECHADA]
			  ,[REPRESENTANTE]
			  ,[IPI]
			  ,[PRECO1]
			  ,[PRECO2]
			  ,[PRECO3]
			  ,[PRECO4]
			  ,[DESCONTO_ITEM]
			  ,[VALOR_EMBALADO]
			  ,[QTDE_EMBALADA]
			  ,[ORIGEM]
			  ,[MATA_SALDO]
			  ,[E1]
			  ,[E2]
			  ,[E3]
			  ,[E4]
			  ,[E5]
			  ,[E6]
			  ,[E7]
			  ,[E8]
			  ,[E9]
			  ,[E10]
			  ,[E11]
			  ,[E12]
			  ,[E13]
			  ,[E14]
			  ,[E15]
			  ,[E16]
			  ,[E17]
			  ,[E18]
			  ,[E19]
			  ,[E20]
			  ,[E21]
			  ,[E22]
			  ,[E23]
			  ,[E24]
			  ,[E25]
			  ,[E26]
			  ,[E27]
			  ,[E28]
			  ,[E29]
			  ,[E30]
			  ,[E31]
			  ,[E32]
			  ,[E33]
			  ,[E34]
			  ,[E35]
			  ,[E36]
			  ,[E37]
			  ,[E38]
			  ,[E39]
			  ,[E40]
			  ,[E41]
			  ,[E42]
			  ,[E43]
			  ,[E44]
			  ,[E45]
			  ,[E46]
			  ,[E47]
			  ,[E48]
			  ,[ITEM_PEDIDO]
			  ,[ORDEM_PRODUCAO]
			  ,[LICENCIADO_ROYALTIES])

		SELECT [CLIENTE_ATACADO]
			  ,A.[PRODUTO]
			  ,A.[COR_PRODUTO]
			  ,C.[FILIAL]
			  ,SUBSTRING(A.CAIXA,3,6)
			  ,A.[PEDIDO]
			  ,A.[COR_PRODUTO]
			  ,A.[ROMANEIO]
			  ,[CAIXA]
			  ,A.[PRODUTO]
			  ,[PACKS]
			  ,[ENTREGA]
			  ,1
			  ,[REPRESENTANTE]
			  ,[IPI]
			  ,[PRECO1]
			  ,[PRECO2]
			  ,[PRECO3]
			  ,[PRECO4]
			  ,[DESCONTO_ITEM]
			  ,A.[QTDE_EMBALADA]*([PRECO1]-[DESCONTO_ITEM]) 
			  ,A.[QTDE_EMBALADA]
			  ,NULL
			  ,0
			  ,[E1]
			  ,[E2]
			  ,[E3]
			  ,[E4]
			  ,[E5]
			  ,[E6]
			  ,[E7]
			  ,[E8]
			  ,[E9]
			  ,[E10]
			  ,[E11]
			  ,[E12]
			  ,[E13]
			  ,[E14]
			  ,[E15]
			  ,[E16]
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,0
			  ,'0000'
			  ,NULL
			  ,0.00000
		FROM SoftlogWMS.DBO.W_WMS_LINX_RESERVA_ITEM A WITH (NOLOCK)
		JOIN VENDAS_PRODUTO B WITH (NOLOCK) ON B.PEDIDO=A.PEDIDO AND B.PRODUTO=A.PRODUTO AND B.COR_PRODUTO=A.COR_PRODUTO 
		JOIN VENDAS C WITH (NOLOCK) ON C.PEDIDO=A.PEDIDO
		WHERE NOT EXISTS(SELECT CAIXA,PRODUTO,COR_PRODUTO,PEDIDO FROM VENDAS_PROD_EMBALADO WITH (NOLOCK) WHERE CAIXA=A.CAIXA AND PRODUTO=A.PRODUTO AND COR_PRODUTO=A.COR_PRODUTO AND PEDIDO=A.PEDIDO) AND
		      EXISTS(SELECT PEDIDO FROM #TEMP_PEDIDOS WITH (NOLOCK) WHERE PEDIDO=A.PEDIDO)
		IF @@ERROR > 0	GOTO ERROR
	END

	--- RECULCULA RESERVA DO PEDIDO LINX
	BEGIN
		DECLARE @PEDIDO CHAR(12)
		  
		DECLARE PEDIDOS_CURSOR CURSOR FOR   
		SELECT PEDIDO
		FROM #TEMP_PEDIDOS
		ORDER BY PEDIDO;  
		  
		OPEN PEDIDOS_CURSOR
		  
		FETCH NEXT FROM PEDIDOS_CURSOR
		INTO @PEDIDO
		  
		WHILE @@FETCH_STATUS = 0  
		BEGIN  
			--- RECULCULA RESERVA DO PEDIDO LINX
			EXEC LX_MOVIMENTA_VENDAS_PA @PEDIDO
		    
			FETCH NEXT FROM PEDIDOS_CURSOR
			INTO @PEDIDO
		END   
		CLOSE PEDIDOS_CURSOR;  
		DEALLOCATE PEDIDOS_CURSOR;  
	END

	COMMIT TRANSACTION 

	set ANSI_WARNINGS on

	ERROR: 

	WHILE @@TRANCOUNT > 0 
	  ROLLBACK TRANSACTION 

	IF @ERRMSG IS NOT NULL 
	  RAISERROR (@ERRMSG,16,1)     
END