USE [DRVAREJO]
GO
/****** Object:  StoredProcedure [dbo].[SP_SFV_PEDIDOS_IMPORT]    Script Date: 02/15/2013 13:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [dbo].[SP_SFV_PEDIDOS_IMPORT]    
@representante varchar(25)    
as    
    
--Select A.*   
--  From VENDAS_LOTE_COPIA_PEDIDO A  
--  Join VENDAS B ON B.PEDIDO_EXTERNO=A.PEDIDO_EXTERNO  
-- Where (SUBSTRING(B.PEDIDO_EXTERNO,LEN(B.PEDIDO_EXTERNO)-7,1) <> '0'    
--   And  SUBSTRING(B.PEDIDO_EXTERNO,LEN(B.PEDIDO_EXTERNO)-7,1) <> '1'    
--   And  SUBSTRING(B.PEDIDO_EXTERNO,LEN(B.PEDIDO_EXTERNO)-7,1) <> '2'    
--   And  SUBSTRING(B.PEDIDO_EXTERNO,LEN(B.PEDIDO_EXTERNO)-7,1) <> '3'    
--   And  SUBSTRING(B.PEDIDO_EXTERNO,LEN(B.PEDIDO_EXTERNO)-7,1) <> '4'    
--   And  SUBSTRING(B.PEDIDO_EXTERNO,LEN(B.PEDIDO_EXTERNO)-7,1) <> '5'    
--   And  SUBSTRING(B.PEDIDO_EXTERNO,LEN(B.PEDIDO_EXTERNO)-7,1) <> '6'    
--   And  SUBSTRING(B.PEDIDO_EXTERNO,LEN(B.PEDIDO_EXTERNO)-7,1) <> '7'    
--   And  SUBSTRING(B.PEDIDO_EXTERNO,LEN(B.PEDIDO_EXTERNO)-7,1) <> '8'    
--   And  SUBSTRING(B.PEDIDO_EXTERNO,LEN(B.PEDIDO_EXTERNO)-7,1) <> '9')    
--   And B.REPRESENTANTE = @representante   
--   AND B.EMISSAO BETWEEN GETDATE()-45 AND GETDATE()  
  
--Select A.*   
--  From VENDAS_LOTE_COPIA_PEDIDO A  
--  Join VENDAS B ON B.PEDIDO_EXTERNO=A.PEDIDO_EXTERNO  
-- Where B.REPRESENTANTE = @representante  AND B.EMISSAO BETWEEN GETDATE()-45 AND GETDATE()  and 1=2

SELECT PEDIDO_EXTERNO=A.PEDIDO_EXTERNO
      ,TIPO_DO_DIGITADOR=NULL
      ,MOEDA=A.MOEDA
      ,CODIGO_TAB_PRECO=A.CODIGO_TAB_PRECO
      ,TIPO=A.TIPO
      ,CONDICAO_PGTO=A.CONDICAO_PGTO
      ,COLECAO=A.COLECAO
      ,CLIENTE_ATACADO=A.CLIENTE_ATACADO
      ,REPRESENTANTE=A.REPRESENTANTE
      ,PEDIDO=A.PEDIDO
      ,EMISSAO=A.EMISSAO
      ,DATA_ENVIO=A.DATA_ENVIO
      ,DATA_RECEBIMENTO=A.DATA_RECEBIMENTO
      ,PEDIDO_CLIENTE=A.PEDIDO_CLIENTE
      ,DESCONTO=A.DESCONTO
      ,ENCARGO=A.ENCARGO
      ,TOT_QTDE_ORIGINAL=A.TOT_QTDE_ORIGINAL
      ,TOT_VALOR_ORIGINAL=A.TOT_VALOR_ORIGINAL
      ,VALOR_IPI=A.VALOR_IPI
      ,CTRL_MULT_ENTREGAS=A.CTRL_MULT_ENTREGAS
      ,ENTREGA_CIF=A.ENTREGA_CIF
      ,ENTREGA_ACEITAVEL=A.ENTREGA_ACEITAVEL
      ,DESCONTO_SOBRE_1=A.DESCONTO_SOBRE_1
      ,DESCONTO_SOBRE_2=A.DESCONTO_SOBRE_2
      ,DESCONTO_SOBRE_3=A.DESCONTO_SOBRE_3
      ,DESCONTO_SOBRE_4=A.DESCONTO_SOBRE_4
      ,OBS=A.OBS
      ,FILIAL=A.FILIAL
      ,TRANSPORTADORA=A.TRANSPORTADORA
      ,GERENTE=A.GERENTE
      ,APROVACAO=A.APROVACAO
      ,APROVADO_POR=A.APROVADO_POR
      ,CONFERIDO=A.CONFERIDO
      ,CONFERIDO_POR=A.CONFERIDO_POR
      ,COMISSAO=A.COMISSAO
      ,COMISSAO_GERENTE=A.COMISSAO_GERENTE
      ,PORCENTAGEM_ACERTO=A.PORCENTAGEM_ACERTO
      ,PRIORIDADE=A.PRIORIDADE
      ,ACEITA_JUNTAR_PED=A.ACEITA_JUNTAR_PED
      ,STATUS=A.STATUS
      ,DATA_PARA_TRANSFERENCIA=A.DATA_PARA_TRANSFERENCIA
      ,TIPO_FRETE=A.TIPO_FRETE
      ,TABELA_FILHA=A.TABELA_FILHA
      ,MULTI_DESCONTO_ACUMULAR=A.MULTI_DESCONTO_ACUMULAR
      ,RECARGO=A.RECARGO
      ,ACEITA_PECAS_PEQUENAS=A.ACEITA_PECAS_PEQUENAS
      ,ACEITA_PECAS_COM_CORTE=A.ACEITA_PECAS_COM_CORTE
      ,FRETE_CORTESIA=A.FRETE_CORTESIA
      ,DATA_FATURAMENTO_RELATIVO=A.DATA_FATURAMENTO_RELATIVO
      ,INDICA_LOCAL_SEPARACAO=A.INDICA_LOCAL_SEPARACAO      
      ,EXPEDICAO_PORCENTAGEM_MAIOR=A.EXPEDICAO_PORCENTAGEM_MAIOR
      ,EXPEDICAO_PORCENTAGEM_MINIMA=A.EXPEDICAO_PORCENTAGEM_MINIMA
      ,EXPEDICAO_PORCENTAGEM_TIPO=A.EXPEDICAO_PORCENTAGEM_TIPO
      ,EXPEDICAO_COMPLETO_PEDIDO=A.EXPEDICAO_COMPLETO_PEDIDO
      ,EXPEDICAO_COMPLETO_PACK=A.EXPEDICAO_COMPLETO_PACK
      ,EXPEDICAO_COMPLETO_TAMANHOS=A.EXPEDICAO_COMPLETO_TAMANHOS
      ,EXPEDICAO_COMPLETO_COR=A.EXPEDICAO_COMPLETO_COR
      ,EXPEDICAO_COMPLETO_COORDENADO=A.EXPEDICAO_COMPLETO_COORDENADO
      ,EXPEDICAO_COMPLETO_CARTELA=A.EXPEDICAO_COMPLETO_CARTELA
      ,TIPO_CAIXA=A.TIPO_CAIXA
      ,PERIODO_PCP=A.PERIODO_PCP
      ,NOME_CLIFOR_ENTREGA=A.NOME_CLIFOR_ENTREGA
      ,EXPEDICAO_NAO_JUNTAR_PRODUTO_CAIXA=A.EXPEDICAO_NAO_JUNTAR_PRODUTO_CAIXA
      ,OBS_TRANSPORTE=A.OBS_TRANSPORTE
      ,TIPO_RATEIO=A.TIPO_RATEIO
      ,NUMERO_ENTREGA=A.NUMERO_ENTREGA
      ,TRANSP_REDESPACHO=A.TRANSP_REDESPACHO
      ,PEDIDO_EXTERNO_ORIGEM=A.PEDIDO_EXTERNO
      ,FILIAL_DIGITACAO=A.FILIAL_DIGITACAO
      ,PORC_DESCONTO=A.PORC_DESCONTO
      ,NATUREZA_SAIDA=A.NATUREZA_SAIDA
      ,COMISSAO_VALOR_GERENTE=A.COMISSAO_VALOR_GERENTE
      ,COMISSAO_VALOR=A.COMISSAO_VALOR
      ,PORC_DESCONTO_COND_PGTO=A.PORC_DESCONTO_COND_PGTO
      ,DESCONTO_COND_PGTO=A.DESCONTO_COND_PGTO
      ,PORC_ENCARGO=A.PORC_ENCARGO
FROM VENDAS A
WHERE A.PEDIDO_EXTERNO IS NOT NULL AND A.REPRESENTANTE = 'CLAUDIO SANCHES'  AND A.EMISSAO BETWEEN GETDATE()-45 AND GETDATE()
