USE [DRVAREJO]
GO
/****** Object:  StoredProcedure [dbo].[SP_SFV_ITENS_PEDIDO_IMPORT]    Script Date: 02/15/2013 13:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [dbo].[SP_SFV_ITENS_PEDIDO_IMPORT]
@representante char(12)
as 
   Select DISTINCT PEDIDO_EXTERNO, PRODUTO, COR_PRODUTO, ENTREGA, SEQUENCIAL_DIGITACAO, PACKS, NUMERO_CONJUNTO, VENDAS_PRODUTO.NUMERO_ENTREGA,
          VENDAS_PRODUTO.LIMITE_ENTREGA, QTDE_ORIGINAL, VALOR_ORIGINAL, PRECO1, PRECO2, PRECO3, PRECO4, DESCONTO_ITEM, IPI, 
          VO1, VO2, VO3, VO4, VO5, VO6, VO7, VO8, VO9, VO10, 
          VO11, VO12, VO13, VO14, VO15, VO16, VO17, VO18, VO19, VO20, 
          VO21, VO22, VO23, VO24, VO25, VO26, VO27, VO28, VO29, VO30, 
          VO31, VO32, VO33, VO34, VO35, VO36, VO37, VO38, VO39, VO40, 
          VO41, VO42, VO43, VO44, VO45, VO46, VO47, VO48, 
          CONVERT(varchar(10),VENDAS_PRODUTO.DATA_PARA_TRANSFERENCIA, 103) As DATA_PARA_TRANSFERENCIA, ITEM_PEDIDO, VENDAS_PRODUTO.TIPO_CAIXA, NUMERO_CAIXAS, 
          COMISSAO_ITEM, COMISSAO_ITEM_GERENTE, COMISSAO_VALOR_GERENTE, COMISSAO_VALOR	
     From VENDAS_PRODUTO 
     Join VENDAS ON VENDAS.PEDIDO=VENDAS_PRODUTO.PEDIDO
    Where VENDAS.PEDIDO_EXTERNO = @representante and 1 = 2
 Order By PEDIDO_EXTERNO, PRODUTO, COR_PRODUTO 


   Select DISTINCT PEDIDO_EXTERNO, PRODUTO, COR_PRODUTO, ENTREGA, SEQUENCIAL_DIGITACAO, PACKS, NUMERO_CONJUNTO, VENDAS_PRODUTO.NUMERO_ENTREGA,
          VENDAS_PRODUTO.LIMITE_ENTREGA, QTDE_ORIGINAL, VALOR_ORIGINAL, PRECO1, PRECO2, PRECO3, PRECO4, DESCONTO_ITEM, IPI, 
          VO1, VO2, VO3, VO4, VO5, VO6, VO7, VO8, VO9, VO10, 
          VO11, VO12, VO13, VO14, VO15, VO16, VO17, VO18, VO19, VO20, 
          VO21, VO22, VO23, VO24, VO25, VO26, VO27, VO28, VO29, VO30, 
          VO31, VO32, VO33, VO34, VO35, VO36, VO37, VO38, VO39, VO40, 
          VO41, VO42, VO43, VO44, VO45, VO46, VO47, VO48, 
          CONVERT(varchar(10),VENDAS_PRODUTO.DATA_PARA_TRANSFERENCIA, 103) As DATA_PARA_TRANSFERENCIA, ITEM_PEDIDO, VENDAS_PRODUTO.TIPO_CAIXA, NUMERO_CAIXAS, 
          COMISSAO_ITEM, COMISSAO_ITEM_GERENTE, COMISSAO_VALOR_GERENTE, COMISSAO_VALOR	
     From VENDAS_PRODUTO 
     Join VENDAS ON VENDAS.PEDIDO=VENDAS_PRODUTO.PEDIDO
    Where VENDAS.PEDIDO = '548612'
 Order By PEDIDO_EXTERNO, PRODUTO, COR_PRODUTO 
